[2020-01-22 02:56] #958 closed

[2020-01-27 08:27] trofi opened #1028 "dev-haskell/extra conflicts with hlint and shake"
I get a conflict when update the world as:

[code]

[2020-01-27 11:28] #1028 closed

[2020-02-02 13:09] trofi opened #1032 "xml-html-conduit-lens / xml-conduit upgrade conflict"
[code]

[2020-02-02 13:44] trofi opened #1033 "dev-haskell/hmatrix-0.20 / dev-haskell/picedit conflict"
[code]

[2020-02-02 13:45] trofi opened #1034 "dev-haskell/path-0.7 / dev-haskell/iostring and dev-haskell/path-io conflict"
[code]

[2020-02-02 13:53] #1032 closed

[2020-02-02 14:12] #1033 closed

[2020-02-02 14:34] #1034 closed

[2020-02-02 15:51] trofi commented on #1005
Yeah, please attach full `build.log` next time. It will shows exact dependency version of libraries you are building against. One of them was probably outdated.

[2020-02-02 15:51] #1005 closed

[2020-02-02 15:53] trofi commented on #475
I think newer ghc versions work ok as-is. I Cross-built ghc-8.8.1 to `powerpc64le` recently and it worked as-is. Let's close it as solved.

[2020-02-02 15:53] #475 closed

[2020-02-07 02:18] Uroc327 opened #1037 "dev-haskell/stack-2.1.3.1: Ambiguous occurrence 'replaceExentsion'"
Emerging stack fails on my system with the following error message

[code]

[build.log](https://github.com/gentoo-haskell/gentoo-haskell/files/4168672/build.log) is attached.

[2020-02-07 07:51] solpeth commented on #1037
We recently bumped `path` to 0.7. I believe this is the cause of the conflict. I'll either downgrade `path` or patch `stack`.

[2020-02-07 21:53] #1037 closed

[2020-02-07 21:54] solpeth commented on #1037
@Uroc327 I've patched `stack` to build with `path-0.7`. Let me know if the issue still exists for you.

[2020-03-21 00:42] ag-eitilt opened #1043 "haskell-src-exts update"
Now that hoogle-5.0.17.3 is no longer building (`for` in `src/Action/Server.hs` is no longer imported), it's probably time to finish the "Too many packages require <haskell-src-exts-1.21" listed as the reason for masking anything newer.

Interestingly, though, the only newer version of haskell-src-exts in the repo is 1.22.  I've gone through and checked everything which depends on it, in case we c

[2020-03-22 14:47] pbarill commented on #1043
Great analysis. It simplifies a fairly complicated issue. I had a go with a few items.

[2020-03-24 02:18] ag-eitilt commented on #1043
Glad to help!  This is certainly not meant as a "Y'all need to do this" -- I'll probably take a look into some of these soon myself, what with being stuck at home at the moment -- but in the mean time it's nice to see some boxes getting marked.

[2020-03-24 03:09] solpeth commented on #1043
`haskell-src-exts` is also in maintenance mode at this point anyway, so migrating our packages to use the latest versions should hopefully be the last time we need to deal with this sort of pain for this package.

[2020-03-24 16:54] pbarill commented on #1043
Right now there is a `haskell-src-exts-1.23` available on hackage, but there is next to nothing that plays with it, so not worth making an ebuild. Looks like it will never get there if things move away toward `ghc-lib-parser` and the rest just remains abandoned.

[2020-03-25 21:07] ag-eitilt commented on #939
Idle thought for 2.: How possible is it to have dynamically-slotted ebuilds?  If we can make the libraries take their primary slot from the GHC version and their subslot (as they do now) from their own, would that work for dependency resolution?  Given the current install tree, the only file conflicts would be in `/usr/share/doc/`, and that can be fixed.  I know it's not currently implemented, but

[2020-03-25 21:42] trofi commented on #939
It's not clear to me what "dynamic dependencies" are.

[2020-03-26 02:45] pbarill commented on #939
It sure would be an interesting feature to get parallel GHC just like you can get this _easily_ on Gentoo with GCC and python. That way you could easily move on to the latest release while keeping an older version for legacy stuff. First, GCC releases are a lot more interchangeable than GHC. As for python, I'm no expert on the matter, but I see that concurrent versions work fine because each and e

[2020-03-26 03:19] ag-eitilt commented on #939
Yeah, figured it wouldn't be that simple.  The thought behind "dynamic dependencies" would be to generate multiple slots from a single ebuild via (or otherwise attached to) its dependency on GHC, so then as long as people set their `base` bounds correctly in the `*.cabal` we get the `ghc_target_*` testing for free.  I guess the first problem with that is that people don't set their bounds correctl

[2020-03-27 12:03] Lucretia opened #1046 "dev-lang/elm-compiler-0.19.0-r1 fails to build"
emerge --info '=dev-lang/elm-compiler-0.19.0-r1::haskell':

[code]

emerge -pqv '=dev-lang/elm-compiler-0.19.0-r1::haskell':

[code]

build.log:

[code]

/var/tmp/portage/dev-lang/elm-compiler-0.19.0-r1/temp/environment:

[code]

[2020-03-27 18:46] l29ah opened #1047 "Please prefer package.mask to KEYWORDing ghc releases"
As i've noted twice in #gentoo-haskell, it would be much more comfortable for both users and maintainers to have the new releases masked in `package.mask` as opposed to the `KEYWORDS` ebuild variable, as unmasking then would only require removing/copying the corresponding chunk of lines from `package.mask`, while in case of `KEYWORDS` it would require a dozen or two runs of `emerge` to figure all

[2020-03-27 18:47] trofi commented on #1046
It's caused by `FEATURES=network-sandbox`. Ebuild is not hermetic and needs a fix to bundle dependencies. Or as a workaround you can disable `network-sandbox`.

It's a dupe of Issue #618.

[2020-03-27 18:47] #1046 closed

[2020-03-27 18:49] trofi commented on #618
Yeah, we need to find a way to pull all dependencies via `SRC_URI`.

[2020-03-27 18:59] trofi commented on #1047
`KEYWORDS` can be re-added per-arch basis easily. `package.mask` can't.

[2020-03-27 19:19] l29ah commented on #1047
ghc releases are known to be tested on a certain set of architectures by the ghc maintainers, so you don't need to re-~keyword them individually after a version bump. Also, as it works on your machine, you could have ~keyworded for its architecture, but you haven't.

[2020-03-27 19:23] trofi commented on #1047
Gentoo has to build their own binaries architecture at a time. We keyword ebuilds only after Gentoo binaries are ready (and most of reverse dependencies are not broken). Otherwise you won't be able to build a compiler even if you have keywords.

[2020-03-27 19:25] l29ah commented on #1047
I was building my compiler exclusively via USE=ghcbootstrap for the last couple of years, and i've never needed the binaries you're talking about.

[2020-03-27 19:50] trofi commented on #1047
Others `USE=ghcbootstrap` users were not as lucky as you: https://bugs.gentoo.org/show_bug.cgi?id=695738 Recent `libffi` update broke `USE=ghcbootstrap` at least twice in past year. But it does not matter.

`USE=ghcbootstrap` is not a supported configuration for end-users (and thus is not a default) precisely because system compiler is a lot simpler to break than a specifically prebuilt binary tha

[2020-03-28 22:01] l29ah commented on #1047
Okay, how do you unmask a specific complete ghc release stuff w/o multiple emerge runs? The rest of ghc libraries are KEYWORDed away too, yet this logic doesn't extend to them.

[2020-03-28 22:42] solpeth commented on #1047
As a ::haskell maintainer I have to disagree. The way in which we remove and re-add keywords as arches meet the requirements set out in our ghc keywording docs is flexible. We did agree to put the masks in place as you suggest, but I personally found no utility in it for maintainership.

As for the end-user, my perspective is that masks of any form are in place because those package versions aren'

[2020-03-28 23:30] trofi commented on #1047
There is no simple way to unmask only a specific release. Same as there is no simple way to install older stable ghc release without getting into problems with duplicate libraries. It's an orthogonal problem to typical use cases.

Typical use cases are:
- use latest stable: don't tweak KEYWORDS
- use latest ~arch: use `*/*::haskell` KEYWORDS
- use latest unkeyworded packages: use `*/*::haskell` KE

[2020-03-29 01:37] crocket opened #1050 "monad-logger-0.3.31 cannot build against unliftio-core-0.2.0.1"
[code]

[2020-03-29 15:20] pbarill commented on #1050
I see. There's been a recent update in [monad-logger](https://hackage.haskell.org/package/monad-logger-0.3.32/changelog) to that effect. I'll push that in a moment.

[2020-03-29 15:52] #1050 closed

[2020-04-02 07:49] trofi opened #1051 "dev-haskell/unliftio-core-0.2 conflicts"
My world can't update due to upper bouds on `<unliftio-core-0.2`:

[code]

[2020-04-02 16:13] pbarill commented on #1051
Confirmed. I see two possible solutions:

* Mask `>=dev-haskell/unliftio-core-0.2`.
* Loosen `unliftio-core` bound in `logging-effect` and apply a patch. I came up with [something](https://gist.github.com/pbarill/b7e013e79820d50eb59f017a914d9846), it builds, but... I can't say whether the resulting behavior is correct.

[2020-04-02 22:14] trofi commented on #1051
I generally try to hide such changes under:
[code]

That way it does not force everyone to use new version of everything and might be upstreamable as-is.

[2020-04-04 07:36] trofi commented on #1051
Looking at the diff between `0.1.2` and `0.2.0` API change is very small: mostly `askUnliftIO` does not have to be defined anymore.
[code]

[2020-04-04 08:27] trofi commented on #1051
All upper bounds should be fixed by now.

[2020-04-04 08:27] #1051 closed

[2020-04-10 03:26] solpeth opened #1052 "Port to network-3"
Track packages which depend on `dev-haskell/network`.
---

**Packages to bump**
- [x] _x11-misc_/taffybar-**3.2.1** -> **3.2.2**
- [x] _dev-haskell_/status-notifier-item-**0.3.0.4** -> **0.3.0.5**
- [x] _dev-vcs_/git-annex-**7.20191024** -> **8.20200330**
- [x] _dev-haskell_/network-**2.8.0.1** -> **3.0.1.1**
- [x] _dev-haskell_/missingh-**1.4.2.1** -> **1.4.3**
- [x] _dev-lang_/purescript-**0.12*

[2020-04-10 03:46] solpeth commented on #1052
Refer to https://github.com/gentoo-haskell/gentoo-haskell/pull/1053

[2020-04-11 21:03] solpeth commented on #1052
The above list of packages is reporting 100% compatibility, either with `network-3` or `network-2` in a slotted configuration.

I'll leave this open for now should any other incompatibilities pop up.

[2020-04-11 21:28] solpeth commented on #1043
Similar to what we've done with `network`, would slotting `haskell-src-exts` (e.g. SLOT="1.21/${PV}") help in this instance?

It doesn't automatically work. But it mostly worked with porting to `network-3`.

[2020-04-11 22:45] solpeth commented on #1043
Following my last comment, I'm currently having a lot of success with a slotted `haskell-src-exts`. I'll keep testing it, and push the changes when it seems solid enough.

[2020-04-11 22:59] solpeth commented on #1043
`derive` builds with slotted `haskell-src-exts`. Porting shouldn't be necessary, especially for an unmaintained package.

[2020-04-11 23:12] solpeth commented on #1043
`hgettext` needs patching for `cabal-2.4`. It seems trivial. But, nothing much depends on `hgettext` either, so I'm not sure it's worth the effort.

[2020-04-11 23:29] solpeth commented on #1043
@pbarill @ag-eitilt let me know if you come across any build failures resulting from `haskell-src-exts` being slotted. I'm only running into already existing issues, like incompatibilities with `base-4.12`.

As for `haskell-src-exts`, it seems happy with being slotted so far.

[2020-04-12 03:29] l29ah opened #1054 "dev-haskell/regex-tdfa-1.2.3.2: MonadFail problems"
[code]

[2020-04-16 06:17] markwright commented on #1047
To unmask ghc 8.10.1 and everything to be at the bleeding edge: add to /etc/portage/package.accept-keywords:

[code]

And then a start is to copy everything from:
/var/lib/layman/haskell/profiles/package.mask
to:
/etc/portage/package.unmask

[2020-04-17 07:07] trofi opened #1056 "dev-haskell/insert-ordered-containers blocks lens-4.19"
My nightly update failed today as:
[code]

[2020-04-17 07:20] #1056 closed

[2020-04-17 18:52] l29ah commented on #1052
`dns`:
[code]

[2020-04-20 06:40] solpeth commented on #1052
@l29ah I can deduce that you're having an issue building `dns`, but I can't tell why.

The slotting I've put in place with `network` is more or less a hack, unlike how the Python team have gone about it. But we should be able to manually intervene into packages' dependency version ranges to tighten things up when these problems arise.

But again, I think I need a bit more info with what's going on

[2020-04-20 08:54] l29ah commented on #1052
What info do you need?

[2020-04-26 17:23] l29ah opened #1057 "dev-haskell/hlint-2.1.15: No instance for (Brackets Exp_)"
[code]

[2020-04-27 01:24] solpeth commented on #1057
I can't reproduce this. Could you attach the full build log?

[2020-04-27 01:26] solpeth commented on #1052
Could you attach a full build log?

[2020-04-27 11:17] l29ah commented on #1052
I've retested it, and it works fine now. Probably some `dns` dependency needed to be rebuilt first against network-3, and portage messed up the ordering? Dunno.

[2020-04-27 11:18] l29ah commented on #1057
[build.log](https://github.com/gentoo-haskell/gentoo-haskell/files/4539243/build.log)

[2020-04-27 20:52] solpeth commented on #1057
I'm still feeling like `haskell-src-exts-util` has been built against `haskell-src-exts-1.20.3`. Is that possible?

What happens when you rebuild `haskell-src-exts-util` manually?

If so, this needs to be flagged to Portage. One possibility is artificially bumping the dependency bounds on `haskell-src-exts`, in each depending package, to its highest possible bounds.

[2020-04-27 22:55] l29ah commented on #1057
On Mon, Apr 27, 2020 at 01:52:57PM -0700, Jack Todaro wrote:

No effect.

--
()  ascii ribbon campaign - against html mail
/\  http://arc.pasp.de/   - against proprietary attachments

[2020-04-28 01:00] solpeth commented on #1057
I'm not sure then, at this stage. I'll have a think.

Like I said, I cannot reproduce this at this time.

[2020-04-28 01:00] #1052 closed

[2020-05-27 03:53] #818 closed

[2020-05-29 13:20] l29ah opened #1059 "haskellnet-ssl is pissed about network"
[code]

[2020-05-29 23:48] solpeth commented on #1059
@l29ah does `haskellnet` even build for you?

[2020-05-30 00:44] #1059 closed

[2020-05-30 03:42] l29ah commented on #1059
It wasn't. It just survived somehow from January and was never picked for any rebuilds.

[2020-05-30 05:36] solpeth commented on #1059
Well, I'm glad we picked it up. Thanks for the report.

[2020-06-05 08:34] trofi opened #1060 "armv7a-unknown-linux-gnueabihf cross-compiler seems to generate invalid binaries"
[code]

[code]

[2020-06-05 08:39] trofi commented on #1060
Might be related: https://gitlab.haskell.org/ghc/ghc/issues/18143/

[2020-06-29 18:24] houseofsuns opened #1061 "=dev-haskell/store-0.4.3.2 fails to merge"
I'm on ~amd64 and just added the haskell overlay. Overall it worked very well but store is the odd one out. Below is the error message. Let me know if I can provide anything else.

<pre>
[ 5 of 11] Compiling Data.Store.Internal ( src/Data/Store/Internal.hs, dist/build/Data/Store/Internal.o )

src/Data/Store/Internal.hs:710:3: error:
    • Expected kind ‘* -> *’, but ‘f’ has kind ‘*’
    • In the f

[2020-06-29 20:24] solpeth commented on #1061
Thanks for the report! Looks like it needs an update. I'll get that sorted in a bit.

[2020-06-29 20:37] #1061 closed

[2020-06-30 12:58] l29ah opened #1062 "dev-haskell/hlint-2.1.17: wrong deps (hackport bug?)"
[code]

In the RDEPEND i see this: `>=dev-haskell/haskell-src-exts-1.21:=[profile?] <dev-haskell/haskell-src-exts-1.22:=[profile?]`
Both of them are satisfied, by 1.20.3 and 1.23.0.

[2020-06-30 13:07] l29ah commented on #1057
Same thing with 2.1.17. Fixed by removing dev-haskell/haskell-src-exts:1.22

[2020-06-30 17:52] houseofsuns commented on #1061
Thanks for the quick fix, works like a charm.

[2020-06-30 23:03] solpeth commented on #1062
I'm confused. When I run `ebuild hlint-2.1.17.ebuild clean configure` it configures against `haskell-src-exts-1.21.1`. What is happening in your case?

[2020-07-01 00:14] l29ah commented on #1062
Probably because you have 1.21.1 installed.

[2020-07-02 03:56] solpeth opened #1064 "super-user-spark needs patching for optparse-applicative-0.15"
In progress.

**EDIT:** link to prospective upstream patch here: https://github.com/NorfairKing/super-user-spark/commit/3c286a52a0b81e083c0e6d39f6f2b02aa9bb9231

[2020-07-02 06:19] #1064 closed

[2020-07-04 10:35] ShimmerFairy opened #1065 "app-text/pandoc-2.9.2.1 requires a lot of RAM"
Before I installed the haskell overlay to get at some haskell packages not available in the main repo, pandoc-1.19.2.1-r1 (with ghc-8.0.2 and cabal-1.24.2.0) took only 7 minutes to compile on my system. But now, with ghc-8.8.3 and cabal-3.0.1.0, it takes up so much RAM that I cannot compile it, even when I set `MAKEOPTS` to `-j1` (it gets much farther before eating up all the RAM with a lower jobs

[2020-07-04 11:05] trofi commented on #1065
6GB sounds like a lot. Ideally we should track down the regression and report it upstream. ghc should be more eager at unloading unused modules, but it's a bit tricky to implement.

Meanwhile you can also try a crude workaround and use `HCFLAGS=-O0` on a few select heavyweight packages.

[2020-07-04 11:57] solpeth commented on #1065
There is this at ghc upstream about `pandoc`: https://gitlab.haskell.org/ghc/ghc/-/issues/18010

`pandoc` is currently failing `hackage CI` due to overloading the build bots' memory requirements.

[2020-07-04 12:54] ShimmerFairy commented on #1065
As I recall, for my usual `-j3` and on `-j2` the RAM overwhelming began on module 63, with `-j1` it made it as far as 101.

[2020-07-05 04:48] solpeth commented on #1065
I'll muck around with `HCFLAGS` over the next few days to see if anything works. Assuming I find a solution I'm of the mind to enact it in the ebuild for all users (unless I play with checking for memory requirements), since this probably affects more than just us.

[2020-07-05 19:49] solpeth commented on #1065
These are some of the upstream bug reports I found:

- [#13253](https://gitlab.haskell.org/ghc/ghc/-/issues/13253) (exponential compilation time)
- [#10421](https://gitlab.haskell.org/ghc/ghc/-/issues/10421) (exponential blowup in inlining)
- [#18223](https://gitlab.haskell.org/ghc/ghc/-/issues/18223) (simplifier uses gigabytes of memory)

In any case, as mentioned above by @trofi `HCFLAGS=-O0` wo

[2020-07-05 20:47] solpeth commented on #1065
Disabled optimisations in 8d8c6b63b270ce020bf39efb7b6fc5e8cad6d428. But I'll keep this open for the moment.

[2020-07-08 23:12] solpeth commented on #1062
Now that I think about it I vaguely remember something like this happening when I started slotting `haskell-src-exts`. But I'm unsure as to why it would satisfy itself against a version outside of the version range. Does anything change if you explicitly define the slot in the `RDEPEND`? E.g. `>=dev-haskell/haskell-src-exts-1.21:1.21=[profile?] <dev-haskell/haskell-src-exts-1.22:1.22=[profile?]`?

[2020-07-09 08:18] l29ah commented on #1062
Because it is not a version range. Also, peeps on #gentoo-dev-help tell there's no such thing as version ranges in Gentoo, so hackport can't do the right thing automagically, at least w/o looking at existing ebuilds and grabbing the desired slot specs from them.

[2020-07-09 08:23] solpeth commented on #1062
Okay. So, if we manually adjust the ebuild to say something like `dev-haskell/haskell-src-exts:1.21=[profile?]` does that resolve correctly?

[2020-07-09 16:30] houseofsuns opened #1067 "dev-haskell/git-0.3.0 fails to compile"
I'm on ~amd64 + haskell-overlay and since the update to ghc-8.8.3 I see the following failure (I don't know whether it's related to ghc). Please advise on how to proceed.

<pre>
[24 of 25] Compiling Data.Git.Monad   ( Data/Git/Monad.hs, dist/build/Data/Git/Monad.o )

Data/Git/Monad.hs:243:5: error:
    ‘fail’ is not a (visible) method of class ‘Monad’
    |
243 |     fail   = failGitM
    |     ^^

[2020-07-09 16:32] houseofsuns opened #1068 "dev-haskell/ghc-pkg-lib-0.3.1fails to compile"
I'm on ~amd64 + haskell-overlay and since the update to ghc-8.8.3 I see the following failure (I don't know whether it's related to ghc). Please advise on how to proceed.

<pre>
[1 of 1] Compiling Language.Haskell.Packages ( src/Language/Haskell/Packages.hs, dist/build/Language/Haskell/Packages.o )

src/Language/Haskell/Packages.hs:207:17: error:
    Not in scope: data constructor ‘ParseOk’
    |

[2020-07-09 17:50] trofi commented on #1062
Yes, dependencies like `>=foo-1 <foo-2` can be satisfied by multislot packages as two packages, for example: `foo-3:3` (matches `>=foo-1`) and `foo-0:0` (matches `<foo-2`).

Usually that means that we (or hackport) need to pick a particular slot and consistently use it across all depends.

[2020-07-09 20:40] solpeth commented on #1067
`git` needs patching for the MonadFail proposal which was fully implemented as of `ghc-8.8.1`. It doesn't seem patched upstream, so I might have a play with it.

[2020-07-09 21:39] #1067 closed

[2020-07-09 21:40] solpeth commented on #1067
@houseofsuns please let me know if you experience any failures or changes in runtime behaviour.

[2020-07-09 21:57] solpeth commented on #1068
Thanks for the report. According to the author this package has not been maintained since 2015. I'm happy to keep it alive if someone wants to write a patch, otherwise I think I'll mask and schedule its deletion.

[2020-07-09 22:01] #1068 closed

[2020-07-09 22:02] solpeth commented on #1068
This is now closed by the commit masking this package, but like I said feel free to submit a patch and I'll gladly unmask it! Thanks again for your report.

[2020-07-09 22:04] solpeth commented on #1057
Closing since you've said it's fixed for you. Feel free to reopen if the issue otherwise persists.

[2020-07-09 22:04] #1057 closed

[2020-07-09 22:10] #1062 closed

[2020-07-09 22:12] solpeth commented on #1062
6d66e21 is not a complete solution to this problem, only for this package. Unfortunately the slotting may have caused more headaches than it solves, implemented as it currently is, so I'll try to deal with those issues as they pop up.

[2020-07-10 15:28] houseofsuns commented on #1067
Thanks a lot for the quick fix. :)

[2020-07-16 02:13] necrose99 commented on #939
eselect ghc ? works for me.

[2020-07-16 02:39] necrose99 opened #1070 "cabal-bin + hadock-bin + LLVM patching"
llvm 7 is the dope spot for ghc/cabal/ etc..  however gripes to no end.

https://github.com/sakaki-/gentoo-on-rpi-64bit

cabal dies on build as dose ghc even after emerging the one few , USE="binary"
cabal-binaries for arm/arm64 might be of use in bootstrapping.

hadock is supposedly their porting layer.  however might enable more builds dunno ?

for 9-13 LLVM in gentoo tree, hopefully upstream pa

[2020-07-16 22:22] trofi commented on #1070
ghc-8.8 really needs llvm-7. llvm-10 will not do. You might want to restore old llvm ebuilds locally.

I'm not sure what you mean by "cabal binaries". ghc needs ghc binary and it's dependencies for bootstrapping.

I'm not sure what you mean by "had[d]ock is supposedly their porting layer".

[2020-07-16 23:41] necrose99 commented on #1070
i'm hoping upstream will patch to use more llvm since 7.x ,
however if they had an **initial statically compiled cabal** would be of use  is possible ...

ele i can force bins .... see if **eselect is up for llvm** ,... as i have few version.

[2020-07-19 18:08] waivio opened #1071 "dev-haskell/massiv needs bump to 0.5.3.1 or later for compatibility with dev-haskell/primitive-0.7.1.0"
dev-haskell/massiv needs bump to 0.5.3.1 or later for compatibility with dev-haskell/primitive-0.7.1.0
Recieved error:
[code]
It was apparently fixed upstream with this commit: https://github.com/lehins/massiv/commit/81f791d0d8a6a28eba0854d375fdad3f1f18a505

Thanks,

[2020-07-19 19:11] solpeth commented on #1071
Thanks for the report, I'll push a fix shortly.

[2020-07-19 19:52] #1071 closed

[2020-07-20 21:35] trofi commented on #1070
There is not much use of having cabal-bin if ghc does not work.

[2020-07-20 21:47] necrose99 commented on #1070
https://github.com/gentoo-haskell/gentoo-haskell/blob/master/dev-lang/ghc/ghc-8.0.2.ebuild binary works
i'll have to test  llvm to get cabal as previously mentioned.
[Sakai's Gentoo](https://github.com/sakaki-/gentoo-on-rpi-64bit) on RPI still has a few vaulted LLVM's /clang versions on slots.

**just the fact llvm 7 is ram-rod-ed down the gullet .... leaves a sour taste..**. hopefully fixable. la

[2020-07-20 21:50] #1070 closed

[2020-07-21 18:58] necrose99 commented on #1070
https://debian.pkgs.org/10/debian-main-amd64/cabal-install_2.2.0.0-2_amd64.deb.html

[2020-07-24 13:21] necrose99 opened #1072 "llvm-hs packaged"
[llvm-hs.zip](https://github.com/gentoo-haskell/gentoo-haskell/files/4972119/llvm-hs.zip)
http://github.com/llvm-hs/llvm-hs/

llvm-hs: General purpose LLVM bindings

hackport'ed manifested good to go.

[2020-07-24 13:31] necrose99 commented on #1072
[llvm-hs-pure.zip](https://github.com/gentoo-haskell/gentoo-haskell/files/4972164/llvm-hs-pure.zip)

[2020-07-24 17:25] trofi commented on #1072
If you have working ebuilds you can do a pull request against this repository.

[2020-07-28 22:08] l29ah opened #1074 "cabal fails to find build-tool-depends installed with portage"
For instance, when trying to `cabal v2-test` the https://github.com/l29ah/hyborg:
[code]
It works okay if i install it manually with cabal. `v1-test` always works fine.

[2020-07-28 23:05] solpeth commented on #1074
I noticed this as well while adding `hspec` to `hackport`. I'll poke around.

[2020-08-04 03:44] solpeth commented on #1054
Do you know which package is preventing the upgrade to `regex-tdfa-1.3.1.0`?

[2020-08-04 03:45] #1047 closed

[2020-08-04 13:47] l29ah commented on #1054
I've already upgraded to 1.3.1.0.

[2020-08-04 21:45] solpeth commented on #1054
No worries, thanks. I'll close this for now, but it would be ideal to clean out dependencies on previous versions of `regex-tdfa`.

[2020-08-04 21:45] #1054 closed

[2020-08-05 19:49] uPvtkBlpiucvDUf opened #1075 "pandoc-2.9.2.1 fails with USE="static""
If I try to emerge `app-text/pandoc-2.9.2.1` with `USE="static"`, linking fails, see below.

Without the `static` USE flag, it works fine. However, I want to try `USE="static"` because I hope it improves performance. If I download the pre-compiled, statically linked version from [pandoc's releases page on github](https://github.com/jgm/pandoc/releases), `pandoc`  runs faster by a factor 2 or so co

[2020-08-05 20:38] trofi commented on #1075
`USE=static` would need to also set `--disable-executable-dynamic`.

Locally you can try to build static pandoc as: `CABAL_EXTRA_CONFIGURE_FLAGS=--disable-executable-dynamic USE=static emerge -v1 pandoc` and check if it works.

 My longer-term suggestion is to remove a `USE=static` completely from the ebuild.

[2020-08-05 20:41] trofi commented on #1075
As for performance 2x difference is unexpected on static/dynamic difference and is more likely to do with optimisations than linking mode.

You can profile pandoc locally to get the idea where the performance go. And/or tweak defaults with `HCFLAGS=-O2` or similar. To get better effect you might need to recompile pandoc's dependencies as well.

[2020-08-06 09:15] uPvtkBlpiucvDUf commented on #1075
Thanks for your answer, @trofi !

Indeed, the `USE=static` build worked with `CABAL_EXTRA_CONFIGURE_FLAGS=--disable-executable-dynamic`, after I re-emerged `dev-libs/gmp`, `sys-libs/zlib` and `dev-libs/libpcre` with `USE=static-libs`.

However, as you said, this didn't help the performance. The performance became way better only after I tried `USE=optimize`. So I think I got bitten by this recent

[2020-08-08 08:42] azahi opened #1076 "dev-haskell/integer-simple-0.1.1.1::haskell failed (install phase): (no error message)"
Compilation ends successfully but installation phase throws an unspecified error message.

[code]
[code]

Could this be because `integer-simple` is already shipped with GHC 8.8.4?
https://gitlab.haskell.org/ghc/ghc/-/issues/18366#pre-release-checklist

[2020-08-09 17:39] trofi commented on #1076
Yes, integer-simple should never be present as a separate package.

[2020-08-09 17:52] trofi commented on #1076
Removed package and removed explicit dependency pull from packages.

[2020-08-09 17:52] #1076 closed

[2020-08-12 22:52] redblade7 opened #1077 "dev-haskell/gifcurry depends on broken =dev-haskell/gtk3-0.14.9-r3"
dev-haskell/gifcurry depends on =dev-haskell/gtk3-0.14.9-r3, which does not compile.

See https://bugs.gentoo.org/736563 which was "fixed" by adding =dev-haskell/gtk3-0.15.5 to the main repo.

[2020-08-13 00:29] solpeth commented on #1077
It appears that `gifcurry` has not had a release on `hackage` for more than two years. Its dependencies are out of date and need porting, so I'm honestly inclined to remove this package at some point in the future.

I had a quick look at what would be required, and assuming no changes to the `gifcurry` codebase are required it will simply be a matter of loosening dependency upper bounds such as on

[2020-08-13 06:44] trofi commented on #1077
https://github.com/gentoo-haskell/gentoo-haskell/commit/05edb67f3896a2f7abfc0420ad4bdfe79e9dc9fb one-liner seems to be enough to get `gifcurry` to build against most recent `gtk3` version.

I agree it should be ported to `gi-*` libraries. Ideally I'd like to see it upstream or in a fork instead of an overlay.

[2020-08-13 06:50] #1075 closed

[2020-08-13 06:55] trofi commented on #1072
It's hard to review attached `zip` file. The ebuild dependencies don't look complete:

1. `sys-devel/llvm` is only in `DEPEND`. It should probably be in `DEPEND` if final result links against the tools or calls external tools.

2. `sys-devel/llvm` is a slotted package in Gentoo. You'll need to look at llvm.eclass to pull in supported version: https://gitweb.gentoo.org/repo/gentoo.git/tree/eclass/l

[2020-08-13 06:56] trofi commented on #704
https://gitlab.haskell.org/ghc/ghc/-/commit/53ce0db5a06598c88c6b8cb32043b878e7083dd4 removed -no-relax option upstream. Dropping the tracking downstream.

[2020-08-13 06:56] #704 closed

[2020-08-13 07:04] trofi commented on #701
Looks like upstream was fully ported to to modern GHC. If you still have an interest in including your ebuild into `::haskell` just send a pull request with the ebuild.

I'm closing the bug assuming there is not much interest.

[2020-08-13 07:04] #701 closed

[2020-08-13 18:31] necrose99 commented on #1072
i just ran it against hackport ,
arm64 node other than main desktop main llvm was 10.x , trying to build ghc::haskell 844 ?  it groaned alot..
was hoping the llvm lib might make building againt newer llvm less complaining..  8 works ish still gripes  a touch ..

since i'm at breaking the warranty on shiz anyway....  i'll take a run it soon..

[2020-08-13 23:59] solpeth commented on #1077
Oh, that is great! I did not think to try that. Thank you!

And yes, I agree on the porting.

[2020-08-13 23:59] #1077 closed

[2020-09-04 10:51] trofi opened #1079 "dev-haskell/hledger-lib-1.19 porting"
Got a world update conflict today:

[code]

[2020-09-04 11:00] trofi commented on #1079
For me it's at least 2 packages:
- dev-haskell/hledger-iadd
- dev-haskell/hledger-interest

[2020-09-04 11:11] trofi commented on #1079
Both are a simple matter of bumping packages. I'll do it.

[2020-09-04 11:12] #1079 closed

[2020-09-04 20:25] solpeth commented on #1079
Thank you! I forgot to check the revdeps when bumping hledger this time. My mistake.

[2020-09-26 20:02] #1072 closed

[2020-10-10 08:51] trofi commented on #799
Filed upstream https://github.com/haskell/cabal/issues/7109

[2020-10-12 04:19] caseyavila opened #1084 "xmonad and xmonad-contrib live builds"
I have noticed the xmonad and xmonad-contrib live builds have been unmaintained and dropped from this overlay. Are there any efforts to get new live builds for these packages?

Perhaps it is irrelevant, but I had been using them successfully before they were dropped.

[2020-10-12 18:02] trofi commented on #1084
There is no effort to bring live ebuilds back. They were deleted as they did not get updates (otherwise we would just refresh them).

I suggest asking upstreams to release the current git trees and we'll bump the releases (AFAIU there is no active development happening in both projects).

[2020-10-12 19:12] caseyavila commented on #1084
I see, thanks for the clarification.

[2020-10-12 19:12] #1084 closed

[2020-12-07 07:52] trofi opened #1091 ">=dev-haskell/prettyprinter-1.7.0 conflicts"
An update failed for me today due to `logging-effect` as:

[code]

[2020-12-07 07:53] trofi opened #1092 ">=dev-haskell/hledger-lib-1.20 conflicts"
Today's update failed for me to resolve as:

[code]

[2020-12-07 08:05] #1091 closed

[2020-12-07 08:51] solpeth commented on #1092
Apologies. I will sort it out.

[2020-12-07 09:06] #1092 closed

[2020-12-07 09:48] trofi commented on #1092
Thank you!

[2020-12-07 12:46] l29ah opened #1093 "dev-haskell/haddock-api-2.24.0 fails to build with ghc-8.10.2"
[code]

[2020-12-09 00:14] trofi opened #1094 "dev-haskell/haskell-gi-base update conflicts"
Today's update can't resolve world update. Many packages require `<dev-haskell/haskell-gi-base-0.24`:

[code]

[2020-12-12 13:41] trofi commented on #1094
I bumped a few more package and it sorted the conflicts.

[2020-12-12 13:41] #1094 closed

[2020-12-19 02:39] solpeth commented on #1093
See upstream bug https://github.com/haskell/haddock/issues/1229

[2020-12-19 03:04] #1093 closed

[2020-12-20 22:44] trofi opened #1102 "ghc-lib-parser update is blocked by outdated ghc-lib"
Conflict on world update:

[code]

[2020-12-20 22:50] #1102 closed

[2020-12-22 08:41] trofi opened #1105 "dev-haskell/config-value upgrade conflict"
World upgrade fails due to `config-value` conflicts:

[code]

[2020-12-22 11:58] ezzieyguywuf commented on #1105
@trofi i can look into this and resve the conflicts

[2020-12-22 16:03] stastnypremysl opened #1106 "monad-logger-0.3.36::haskell failed to build"
Hello.

I have problem with monad-logger building.

My system setting is

[code]

The build log is:
[code]

[2020-12-22 16:10] ezzieyguywuf opened #1107 "dev-haskell/optics-core-0.2 fails to build"
I don't think this is a `ghc 8.10`-specific issue, though I ran into it when upgrading my world after the new `ghc` hit.

Here is the error we get:

[code]

Here is the build info:

[code]

It seems that upstream is up to v0.3.0.1, so this is probably already fixed.

[2020-12-22 19:32] trofi commented on #1107
I think it is somewhat specific to 8.10. 8.8 did not happen to have the problem.

Looks like ghc became stricter at what subset of impredicativity it can infer.

[2020-12-22 19:34] trofi commented on #1106
`build.log` suggests running `haskell-updater` to fix broken dependencies. You are already running it. right? Can you post haskell-updater's log? I wonder in which order it tries to rebuild packages and where it gets stuck. Maybe we have a missing depend or a circular depend somewhere else.

[2020-12-22 19:35] trofi commented on #1105
Sounds good!

[2020-12-22 20:13] #1107 closed

[2020-12-22 21:08] ezzieyguywuf commented on #199
So, as a temporary workaround to this is it feasible to build a tool that would:

1. Calculate *every* affected reverse dependency in a given commit
2. Bump the version in each affected reverse-dependency to `r1`, `r2`, etc...

I realize this is a bit "hackey", and it is a temporary solution for sure, but it could make haskell life in gentoo just a tad more livable.

[2020-12-22 21:14] ezzieyguywuf commented on #609
@trofi I realize this is a few years old now, but I figured it'd be worth asking: is this bug still relevant?

1. I was able to succesfully emerge `app-emacs/idris-mode-0.9.18`
2. It also seems that theres a (1.0 release)[https://github.com/idris-hackers/idris-mode/releases/tag/1.0], though I didn't need that in order to  merge the package.

I can't speak to how well the idris mode does/doesn't wo

[2020-12-22 21:59] stastnypremysl commented on #1106
I already found the problem. I was using an old version of ghc (I think 8.8.2) and nothing forced me to upgrade it. After I have done it, everything works fine.

[2020-12-22 22:00] #1106 closed

[2020-12-23 01:07] matoro opened #1110 "dev-haskell/zlib breaks on -flto -ffat-lto-objects"
Hi, I am trying to rebuild all my haskell packages after the update to =dev-lang/ghc-8.10.2, but dev-haskell/yesod-core is failing due to the error in the title.  The library in question is owned by dev-haskell/zlib, but rebuilding that does not help.  Full build log & system info:

[code]

[code]

[2020-12-23 02:29] ezzieyguywuf commented on #618
I've narrowed down the issue to (these four lines)[https://github.com/elm/compiler/blob/0.19.1/terminal/src/Develop/StaticFiles/Build.hs#L44-L47] of code, at least for the `elm-compiler` package. I'm going to try to get help from upstream to figure out how to deal with this.

I can confirm that if the `reacter/elm-stuff` directory is provided to the build directory *ahead of time* (i simply copy/p

[2020-12-23 03:17] ezzieyguywuf commented on #1110
Can you post the output of `ghc-pkg list` and `ghc-pkg check` please?

[2020-12-23 03:25] ezzieyguywuf commented on #1110
I have been unable to reproduce the bug with the following:

[code]

@matoro have you tried running `haskell-updater`? Or perhaps rebuild `zlib` with `--usepkg=n`?

[2020-12-23 03:26] ezzieyguywuf commented on #618
[Issue filed](https://github.com/elm/compiler/issues/2160) upstream.

[2020-12-23 04:48] matoro commented on #1110
Yep, I have tried both of those.  This was how I invoked the above build:

[code]

I also tried:

[code]

which successfully builds, but does not help the original issue.  Here's my package lists:

[code]

[code]

[2020-12-23 04:53] matoro commented on #1110
Actually, scratch that, this might be the problem:

[code]

Not sure why this didn't show up or why portage allowed me to upgrade ghc then.  Does that mean that dev-haskell/yesod-core is not compatible with newer ghc?

[2020-12-23 05:10] ezzieyguywuf commented on #1110
@matoro can you please post the full output of `emerge -pv dev-haskell/yesod-core`?

[2020-12-23 05:12] matoro commented on #1110
[code]

[2020-12-23 05:21] ezzieyguywuf commented on #1110
Where did this message come from? Can you post that full output?

[code]

[2020-12-23 05:34] matoro commented on #1110
Yeah, I am not sure why it only shows up when I do my full system upgrade command:

[code]

There is a bunch of other irrelevant stuff going on there, but after it fails the build (see initial log) this seems to be the only relevant part:

[code]

[2020-12-23 08:07] trofi commented on #1110
This means your `dev-haskell/zlib` package is broken in a way that not visible to `haskell-updater`. This might be a s side-effect of `-flto`. Try building `dev-haskell/zlib` without `-flto` and check if it helps.

[2020-12-23 08:46] solpeth commented on #1110
I'm getting a similar message when compiling `dev-haskell/yesod-markdown-0.12.6.3-r1`. The log seems normal at first:

[code]
Immediately following are these two messages:
[code]
And then the rest of the log:
[code]

Note that the highlighted part of the log mentions `ld` and `gcc`, not `ghc`. And the build succeeds. I'm still on `gcc-10.2.0-r3` rather than `-r4`, if that could be an issue.

[2020-12-23 14:13] matoro commented on #1110
Wow, that actually did it!  I did not realize that CFLAGS affected haskell packages since, well, they're not written in C.

Could you perhaps add `strip-flags` from `flag-o-matic.eclass` to dev-haskell/zlib to prevent this from affecting anybody else?

[2020-12-23 14:29] ezzieyguywuf commented on #1105
I don't think I have the appropriate permissions to close issues, but this issue should be closed now with #1108

[2020-12-23 17:29] ezzieyguywuf commented on #1074
@solpeth did you learn anything? If this is still open I don't mind taking a look.

[2020-12-23 22:01] solpeth commented on #1105
Closing.

[2020-12-23 22:01] #1105 closed

[2020-12-23 22:26] solpeth commented on #1074
Not really. I suspected that due to it being only a build tool dependency of the test suite deps, that tool doesn't really have to stick around for the test suite to run. Whether it means it isn't registered in the package db the same as other packages, or something like that, I'm not too sure. I don't think I really had a deep dive into the issue or the mechanics of the related ghc tooling that c

[2020-12-23 22:27] trofi commented on #1110
I would guess `dev-haskell/zlib` does contain bits of C code to interface with zlib.

Let's keep it open and check why `-flto -ffat-lto-objects` breaks things. It's not supposed to in my understanding.

[2020-12-24 08:02] trofi opened #1117 "hlint-3.2.3 fails to build against ghc-8.10: Couldn't match type ‘ghc-boot-th-8.10.2:GHC.LanguageExtensions.Type.Extension’ with ‘Extension’"
Looks like there is a confusion between `ghc-parser` and `ghc`:

[code]

[2020-12-24 09:23] solpeth commented on #1117
I'm also encountering this.

[2020-12-25 02:15] ezzieyguywuf commented on #618
@trofi if we're closing this bug, should we also mask the non-binary package, or leave it for those that don't mind disabling network-sandbox?

[2020-12-25 16:08] #1117 closed

[2020-12-25 22:59] trofi commented on #618
This bug should not be closed. Probably github's handling of `not fix #N` comment was interpreted as `fix #N`.

[2020-12-25 23:05] ezzieyguywuf commented on #618
I agree, i didn't say anything because I thought you closed it on purpose.

El vie., 25 de diciembre de 2020 5:59 p. m., Sergei Trofimovich <
notifications@github.com> escribió:

[2020-12-27 10:26] trofi commented on #609
`idris-mode-9999` still fails to compile. We can drop live ebuild.

[2020-12-27 10:28] #609 closed

[2020-12-27 21:42] solpeth commented on #670
It appears that the upstream haskell-platform is discontinued since the start of the ghc-8.8 series. There are no upper bounds in the [haskell-platform ebuild](https://github.com/gentoo-haskell/gentoo-haskell/blob/master/dev-haskell/haskell-platform/haskell-platform-2014.2.0.0-r1.ebuild), so it acts more like a meta-package of these common 'building-block' libraries more than anything, for whoever

[2020-12-27 21:42] #670 closed

[2020-12-28 05:34] matoro commented on #1110
Okay, this has gotten much worse with the latest ghc and now the workaround no longer completely works.  `dev-haskell/clientsession` breaks during the linking stage.  I have disabled LTO on all the packages I found in the output, but it only helped for some and not others.

Packages where it did help:
[code]

Packages where it did not help:
[code]

Can anybody help please?

[code]

[2020-12-28 08:35] trofi commented on #1110
I think minimizing amount of changes needed for a system to destabilize would be good to find out (say, in a fresh chroot). You have many options not safe to use due to relatively limited testing like `-fno-semantic-interposition` or `-fipa-pta`.

[2020-12-28 12:37] trofi commented on #1110
I think I got minimal reproducer:

[code]

[2020-12-28 12:55] hereGittyGitty opened #1119 "Problem with emerging 'dev-haskell/text-icu-0.7.0.1': 'error: ‘true’ undeclared (first use in this function)'"
Hi there... I am having trouble with emerging/updating `dev-haskell/text-icu-0.7.0.1` since a couple of days. Besides some _deprecated warnings_ which become errors there is also the one output from the title which I believe is the root of the failure. On the _IRC_ channel _slyfox_ also pointed me to this [commit](https://github.com/gentoo-haskell/gentoo-haskell/commit/12f31c988574501cf434ad9dd480

[2020-12-28 13:02] trofi commented on #1119
Are you using `=dev-libs/icu-67.1` by chance?

[2020-12-28 13:05] hereGittyGitty commented on #1119
Yes

`equery list dev-libs/icu`

[code]

[2020-12-28 13:13] #1119 closed

[2020-12-28 13:14] trofi commented on #1119
Can you try if https://github.com/gentoo-haskell/gentoo-haskell/commit/675b5d63904da7f9bc03a4519f869536256a0d10 fixes it for you?

[2020-12-28 13:16] trofi commented on #1110
`ghc` uses partial linking to glue together object file generated by `ghc` (without LTO) and object file generated by `gcc` (with LTO):

[code]

That forces false impression `gcc` / `ld` that final binary has up-to-date LTO representation of all code in final `.o` file (which is not true). As a result we lose closure definitions where `.c` file was glued in.

[2020-12-28 13:33] trofi commented on #1110
The upstream bug is https://sourceware.org/PR12291

[2020-12-28 13:41] trofi commented on #1110
Filed https://sourceware.org/PR27122 to get better diagnostic from `ld` if possible.

Meanwhile we'll need to avoid any LTO flags in haskell packages.

[2020-12-28 13:56] #1110 closed

[2020-12-28 13:58] trofi commented on #1110
Can you give https://github.com/gentoo-haskell/gentoo-haskell/commit/d23281811492a1b488d30ca81a2697954f3eec09 a try and check how it goes?

You'll need to rebuild all the haskell libraries that complain about missing symbols. It should not be too hard.

Example error:

[code]

Example fix:

[code]

[2020-12-28 14:46] escalopoulet commented on #1119
Hi.

I was having the same problem as hereGittyGitty. The fix given by trofi works fine for you.
Thank you trofi !
François.

[2020-12-28 15:15] hereGittyGitty commented on #1119
Hi,

I was able to check it out now. Yes, the fix in commit [675b5d6](https://github.com/gentoo-haskell/gentoo-haskell/commit/675b5d63904da7f9bc03a4519f869536256a0d10) did it. Thanks you trofi for the quick and nice handling. Thanks escalopoulet for letting me know.

Have a good one :)

[2020-12-29 02:32] matoro commented on #1110
I just went ahead and rebuilt everything with that commit, and that did seem to resolve it.  I guess LTO is just more trouble than it's worth for Haskell.  Thank you very much for all the help.

[2020-12-29 08:39] trofi commented on #1110
`LTO` is generally an experimental technology. If use it system-wide you will keep encountering very nasty and complicated corner cases that are probably specific to your system. You might have to get familiar how to debug them and extract small examples for upstreams to fix.

[2020-12-29 22:52] devurandom opened #1120 "dev-haskell/hledger-web - unify USE=library-only/executable"
dev-haskell/hledger-web supports the `library-only` useflag:

[code]

This appears to have a similar effect as the more popular useflag `executable`:

[code]

It would be nice if the useflags could be unified.

See-also: https://bugs.gentoo.org/show_bug.cgi?id=762256
See-also: https://bugs.gentoo.org/show_bug.cgi?id=762259

[2020-12-30 14:55] ezzieyguywuf commented on #1120
I agree with this thinking.

@trofi would you consider a PR to hackport that makes this change?

[2020-12-30 16:51] trofi commented on #1120
Yes, that would be a useful hackport extension. https://bugs.gentoo.org/762256#c1 has some thoughts.

[2020-12-30 21:48] ezzieyguywuf commented on #1120
I was thinking the same thing about flag inversions.

I may pick this up after the quickcheck and aeson projects, if someone else
doesn't get to it first.

El mié., 30 de diciembre de 2020 11:51 a. m., Sergei Trofimovich <
notifications@github.com> escribió:

[2021-01-08 17:43] ezzieyguywuf opened #1127 "dev-haskell/mysql fails to configure"
Below is the build log. I can submit an ebuild with the missing `dev-db/mysql` dependency, but thought it'd be worth opening an issue in case someone else has some insights on this.

[code]

[2021-01-15 08:27] #1127 closed

[2021-01-17 07:49] khumba opened #1132 "rstudio dependency on pandoc-citeproc"
Hello,

I'm not sure if this is too much of a corner case, but: sci-mathematics/rstudio::gentoo has a dependency on dev-haskell/pandoc-citeproc, whose ::haskell version was recently masked for removal.  This is fine, pandoc-citeproc-0.17.0.1::gentoo works, except that 0.17.0.1 doesn't build with ghc-8.10 from this overlay; pandoc-citeproc-0.17.0.2 is needed for that.  So if this overlay is enabled

[2021-01-17 08:03] khumba commented on #939
GHC and Cabal are packaged this way for Debian, maybe we can look at how these builds are configured for some inspriation:

https://downloads.haskell.org/~debian/

Having multiple GHCs available would be useful for development even if it's only for v2 or sandboxed builds to start with.  Thanks for posting your changes, @ag-eitilt, I'll be trying those out.

[2021-01-17 13:03] ezzieyguywuf commented on #1132
This isn't an edge case at all things like this matter.

I think if upstream has fixes that are unreleased, then we're in a very good place.

I've used got before to create a patch for the appropriate files (assuming the changes aren't too huge) and added those patches to the ebuild.

This may be an option here...

[2021-01-17 16:38] khumba commented on #1132
The commands below show the rstudio branch that did the main pandoc-2.9 to 2.11 bump.  It's not the smallest patch.  There are a bunch of commits after that bump minor Pandoc versions afterward but those commits are trivial.  I might also be missing other changes before this branch.

    $ git clone https://github.com/rstudio/rstudio.git && cd rstudio
    $ git diff $(git merge-base origin/feature

[2021-01-18 00:23] markwright commented on #1132
Thanks for the instructions on obtaining the pandoc-2.9 to 2.11 bump. It appears that pandoc-citeproc is no longer required in the rstudio 1.4.1103 released on Jan 14 2021.

https://rstudio.com/products/rstudio/release-notes/

However to bump rstudio to 1.4.1103 in portage requires bumping pandoc to >=2.11 in portage.

[2021-01-18 02:32] khumba commented on #1132
I see!  I first looked into this a couple of weeks back and RStudio hadn't been released at that point.  That's good news.  In that case it's not worth trying to preserve pandoc-citeproc any longer, and yes we'll need pandoc-2.11 in the main tree.  RStudio 1.4.1103 claims a dependency on `PANDOC_VERSION="2.11.2"`; hopefully the PVP is followed and the newer pandoc-2.11.3.1 in the tree will work.

[2021-01-18 08:08] trofi commented on #1132
Ideally we should not mask packages in `::haskell` until they are masked in `::gentoo`.

[2021-01-18 08:17] trofi commented on #1132
Pulled `pandoc-citeproc-0.17.0.2` to `::gentoo` as https://gitweb.gentoo.org/repo/gentoo.git/commit/?id=564651cbf5e2c3f6c8e53cfa4632060179650b54. Will also check what it takes to pull `pandoc-2.11` to `::gentoo`.

[2021-01-18 08:37] trofi commented on #1132
Pulled `pandoc-2.11` into `::gentoo` as https://gitweb.gentoo.org/repo/gentoo.git/commit/?id=21b6084d4c5727afafa8e811343452139fe42705

[2021-01-18 18:12] ezzieyguywuf opened #1133 "Add dependency check to CI"
Based on a comment [here](https://github.com/gentoo-haskell/gentoo-haskell/pull/1118#discussion_r559643302), I wanted to open this issue in order to not lose track of the suggestion.

Specifically:

The proposal is to add a step to the CI which checks dependencies of any new packages, i.e. `emerge -pe ${list_of_new_packages}` should not show any issues.

[2021-01-18 18:13] ezzieyguywuf commented on #1133
Hrm, although doesn't repoman already complain if a package has a "non-existent dep"?

[2021-01-18 19:06] trofi commented on #1133
`repoman` / `pkgcheck` does check deps, but it only does for the final repository state. Would be nice to check every commit in proposed branch in sequence.

[2021-01-19 07:09] solpeth opened #1134 "dev-haskell/parser-combinators-tests fails to install: nothing to do"
Fails with 'setup copy failed' during the install phase because it has 'nothing to do'.

@ezzieyguywuf, could it have anything to do with [this commit?](https://github.com/gentoo-haskell/gentoo-haskell/commit/91f1c7c902630788c5fe6af4ff0c45a208cb6ea5)
[code]

[2021-01-19 07:18] #1134 closed

[2021-01-19 07:19] solpeth commented on #1134
Issue ended up being missing `src_install()` phase:

[code]

[2021-01-19 07:49] solpeth commented on #1133
I've read the linked comment, and I have some questions if anyone has the time to chime in:

Is the issue that reverse dependencies are having their dependencies silently removed, and our QA tools don't tell us this on a per-commit basis?

Or is the issue that reverse dependencies are being added prior to all of their dependencies, in the correct order?

If it is scenario one, I have nothing to ad

[2021-01-19 11:47] ezzieyguywuf commented on #1134
@solpeth thank you for closing this. @hololeap had pointed this out to me, but somehow I got it in my head that the issue was still in #1118 and not in `master`, otherwise I would have acted sooner.

[2021-01-19 15:44] hololeap opened #1135 "[feature] Install additional doc files by default"
It would be nice to have a few extra items show up in `/usr/share/doc/*/`, namely `.md` files and `.lhs` files present in the `$S` directory. I have been playing around with this in an ebuild, and it seems to work pretty well:

[code]

[code]

Any thoughts on adding something like this to `haskell-cabal.eclass` so these files get copied by default?

[2021-01-20 14:12] ezzieyguywuf commented on #1135
I was wondering something similar recently.

However, shouldn't the `find` command just find actual `man` pages, i.e. `package.1` `package.5` etc?

I'm not sure how successful we'll be automating this, I think it's pretty erratic how/if project ship man information, but I am definitely interested in hearing others' thoughts.

[2021-01-20 14:18] trofi commented on #1135
I'd say most of these files are specific to a package, but not to a hackage (or Cabal) package in general. Thus `.ebuild` should like a better place for them.

Default `README.md` and `LICENSE` I believe are already copied by default by Cabal itself:

[code]

[2021-01-20 14:27] trofi commented on #1133
`repoman commit` is usually enough. But complicated rebases might bet commit sequence into inconsistent state. `pkgcheck scan --commits` does not seem to do the right thing here.

[2021-01-20 16:52] ezzieyguywuf commented on #1133
the issue with `repoman commit` is that it cannot be used *after the fact* for QA, right? Instead, it must be used to perform the actual commit.

[2021-01-20 17:22] hololeap commented on #1135
@trofi What about just copying over the `README.md` in `$S`? It looks like this doesn't currently happen for the vast majority of packages.

[2021-01-20 21:09] hololeap commented on #1135
What about a helper function so that writing something like the `find ... | while read ...` command above isn't so tedious? I would like to encourage more people to add these kinds of files using `dodoc`. It's annoying to have to unpack/look up the source code when you need that info.

[2021-01-20 21:18] ezzieyguywuf commented on #1135
I can think of two solutions that would appeal to me:

1. Add some output to `hackport` that shows a list of potential docs, and says something like "you may wish do `dodoc` some of these"
2. Add some output to `pkg_postinst` that does the same

I prefer 1, because any messages we show in the ebuild will be visible to the end-user. If we go with 2, then the message should instead be something like

[2021-01-20 21:23] ezzieyguywuf opened #1136 "Merge `parser-combinators-tests` into `parser-combinators`"
Currently, the two are split because that's how upstream does it. This is non-ideal, though, because when `parser-combinators` is emerged with `USE=test`, nothing happens.

We should be able to merge the two by adding the `parser-combinators-tests` package to the `SRC_URI` in `parser-combinators`.

Once we have the source, though, some work will need do be done to ensure things work correctly - it

[2021-01-20 22:08] hololeap commented on #1135
@ezzieyguywuf How do you feel about running `dodoc` on `${S}/README.md` by default? I think this file is in the vast majority of Haskell packages, and usually is quite helpful with examples, FAQs, etc. Having easy offline access to it would be nice, without having to unpack the package.

[2021-01-21 03:23] solpeth commented on #1136
Good luck! I tried to have a play with this long ago, so if I can help let me know.

[2021-01-21 10:00] trofi commented on #1136
I think the standard answer here is to use `PDEPEND="test? ( parser-combinators-tests )` dependency.

[2021-01-21 10:13] trofi commented on #1135
Handling all *.md files should be fine. A bit of detail how docs installation happens by default (but probably not for haskell eclass) for a possible way for cleaner implementation: default `src_install` uses ``: https://dev.gentoo.org/~ulm/pms/head/pms.html#x1-940009.1.9

[code]

We could reuse the same structure slightly tweaking the defaults and allowing the same `DOCS=()` variable. Then we wou

[2021-01-22 02:14] ezzieyguywuf commented on #1074
I have been working on this a bit, and wanted to post some of my findings here. First of all, in order to duplicate the issue using some packages in the tree:

[code]

Here's the output I get

[code]

But whyyy why the problem? It looks like it is complaining that `hspec-discover` isn't available (and it doesn't have a way to *make* it available since we moved the hackage db out of its view).

Wha

[2021-01-22 19:54] hololeap commented on #1043
`beam-migrate-cli` is dead, so you can check that off. What else is needed? Unmasking these three packages is showing no issues so far on my system.

[2021-01-22 20:10] ezzieyguywuf commented on #1043
I think `haskell-src-exts-1.22` may be ready to unmask, but we may need to keep `haskell-src-exts-1.23` masked, or see if these packages work with the newer version

- [ ] diagrams-builder-0.8.0.5-r1
- [ ] hlint-2.2.4
- [ ] stylish-haskell-0.9.4.4
- [ ] hprotoc-2.4.13

I'll run some tests on my machine with 1.22 and see how it goes...

[2021-01-24 14:35] peigongdsd opened #1141 "Cyclic dependency on Gentoo"
When I try to emerge haskell-platform I got this

 * Error: circular dependencies:

(dev-haskell/semigroups-0.18.5-r1:0/0.18.5::haskell, ebuild scheduled for merge) depends on
 (dev-haskell/unordered-containers-0.2.13.0:0/0.2.13.0::haskell, ebuild scheduled for merge) (buildtime_slot_op)
  (dev-haskell/cabal-3.2.1.0-r1:0/3.2.1.0::haskell, ebuild scheduled for merge) (buildtime)
   (dev-haskell/par

[2021-01-24 14:38] ezzieyguywuf commented on #1141
Can you post `emerge --info` please?

[2021-01-24 14:45] peigongdsd commented on #1141
I don't think it's a problem of haskell-platform. In fact, in this situation, I can install neither of semigroups, unordered-containers, cabal, or parsec.

emerge --info
krusl@KruslPC ~/Downloads $ emerge --info
Portage 3.0.14 (python 3.8.7-final-0, default/linux/amd64/17.1/desktop/gnome/systemd, gcc-9.3.0, glibc-2.32-r7, 5.4.80-gentoo-r1kruslpc x86_64)
============================================

[2021-01-24 14:50] ezzieyguywuf commented on #1141
Great, thank you for the extra information. I will work to replicate the issue and try to find a solution.

[2021-01-24 14:52] peigongdsd commented on #1141
em... I think the proper solution may be 1. install cabal binary manually 2. emerge unordered-containers while ignoring the absence of the cabal package 3.emerge cabal. Is this possible? can portage just ignore some package like dpkg does?

[2021-01-24 20:23] ezzieyguywuf commented on #1141
Confirmed with `*/*::haskell doc` in `package.use` and `emerge -1av semigroups` in a clean gentoo environment.

Also confirmed that 33a43f09070b638c33afeab108908dae186daf5c fixes the problem.

[2021-01-24 20:25] trofi commented on #1141
I think I fixed at least one circle at: https://github.com/gentoo-haskell/gentoo-haskell/commit/33a43f09070b638c33afeab108908dae186daf5c

And `find-dep-loops.bash` reports a lot more loops we should fix. Incomplete list:

[code]

[2021-01-25 20:33] ezzieyguywuf commented on #1141
Here's a list of remaining circular dependencies. I've created it using e4dda99ccbe66785e08dd6ef5567de1782a32338 as well as [this new helper script](https://github.com/gentoo-haskell/gentoo-haskell/blob/master/projects/format_dep_loops.py).

The list is very small now compared to a few hours ago, thank you @trofi!

- [ ] aeson → these → aeson
- [ ] temporary → test?=base-compat → test?=hspec → hsp

[2021-01-25 20:47] ezzieyguywuf commented on #1141
For the last one, looks like we need to remove `these-1.0.1-r1`, however:

-  `reflex-0.6.3-r2` still needs it, and the newer `reflex-0.8.0.0` was only recently unmasked
- `reflex-backend-socket-0.2.0.0` needs it too, but this is already masked for removal

[2021-01-25 20:55] ezzieyguywuf commented on #1043
This was closed on accident by github automatically, I think.

[2021-01-26 19:00] ezzieyguywuf opened #1144 "cryptohash-sha256: tasty dependency conflict"
With `USE=test emerge -pve1 hledger-lib cryptohash-sha256`, a dependency conflict occurs because `hledger-lib` wants `>=dev-haskell/tasty-1.2.3` but `cryptohash-sha256` wants `<dev-haskell/tasty-1.2`

[2021-01-26 20:27] #1043 closed

[2021-01-27 07:01] #1144 closed

[2021-01-27 07:03] solpeth commented on #1144
Thank you both for spotting and sorting this.

[2021-02-01 07:44] trofi opened #1147 "dev-haskell/hls-hlint-plugin holds back outdated dev-haskell/apply-refact"
[code]

[2021-02-04 06:25] hololeap opened #1148 "Packages installing (potentially) unwanted executables"
This is something that has been bothering me so I'm setting up this bug report to document and discuss.

There are some packages that are installing executables to `/usr/bin/` which may be unwanted or are intended as examples and not really meant to be installed along with a library. This is fine, except that quite a few that have no mechanism built into the cabal package to turn these on or off.

[2021-02-12 19:02] ezzieyguywuf commented on #1136
That's how it was done previously, but this seems wrong though - what would cause the `parser-combinators-tests` executable to run? just call it directly from `src_test`? Per my (limited) understanding of `PDEPEND`, I don't think we can rely on the `PDEPEND` atom to be installed in time in order to execute it in `src_test`.

My idea was to simply fetch both sources, compile both, run both.

[2021-03-02 19:35] ezzieyguywuf opened #1165 "Unmask random-1.2"
I think it's time to unmask random-1.2. `cabal-install-3.4.0.0` was released
recently, and it requires `~dev-haskell/random-1.2`, which in my opinion is a
good enough reason to figure this out.

I've done large updates like this via PR's in the past, but I'm going to try to
use an issue this time. This first comment will be used to set a plan, and will
be updated as necessary.

For any package tha

[2021-03-03 11:13] trofi commented on #1141
We should have a handle on at least initially reported lookps.

[2021-03-03 11:13] #1141 closed

[2021-03-03 11:14] trofi commented on #1148
I suggest not fixing it downstream and sorting it out upstream. That way we (and other distributions) would not have to maintain overrides.

[2021-03-21 20:08] trofi opened #1167 "gitit-0.13.0.0 fails to build with pandoc-2.12"
Looks like minor API change is needed:

[code]

[2021-03-22 02:50] toniz4 opened #1168 "Add the dzen-dhall package"
It's a package to configure dzen2 bars in Dhall language. Here is their github repo: https://github.com/dzen-dhall/dzen-dhall

[2021-03-22 03:14] toniz4 commented on #1168
I tried using the ebuild generated by hackport, i had to generate others for lzma and file-embed-lzma. The only modifications that I had to do is adding cabal_chdeps to lzma and file-embed-lzma, and add xz-utils to lzma bdep:

lzma-0.0.0.3:

[code]

file-embed-lzma-0:

[code]

but when running dzen-dhall i got lot's of errors, it doesn't generate a config the right way, and with the default config

[2021-03-22 20:23] #1167 closed

[2021-03-29 07:50] trofi opened #1170 "log-base-0.8.0.0 fails to build against unliftio-core-0.2"
[code]

I suspect it's related to recent unmasking in e555dbf0a8e0ce1fba186d456c9317c1055d190f

[2021-03-29 07:56] #1170 closed

[2021-03-29 23:41] trofi commented on #1168
I think you managed to produce correct ebuilds. Would you like to send a pull request with what you have got? Or should I try to generate those as well?

[2021-03-31 23:31] hololeap commented on #1170
@trofi Can't we just upgrade `log-base` instead of reverting this commit? The latest version is compatible with `unliftio-core-0.2` and its only reverse dependency, `log-postgres` is compatible with the latest `log-base`.

[2021-04-13 00:27] HarryBroeken opened #1173 "problem building gi-gdkpixbuf"
please have a look at https://github.com/haskell-gi/haskell-gi/issues/339

I found a way around it as mentioned in the link above
Hopefully this is of use to the overlay

    Harry

[2021-04-13 08:38] solpeth commented on #1173
Thanks! I'll try to take a look into it in the next day or so.

[2021-04-13 19:03] devurandom commented on #618
Instead of waiting for a response to https://github.com/elm/compiler/issues/2160#issuecomment-776266926, can we include the extra files independently of the source tarball for now?

[2021-04-13 21:47] #1173 closed

[2021-04-13 21:48] solpeth commented on #1173
I've closed this based on the discussion in your linked upstream issue, specifically that everything should work with `haskell-gi-0.25`. If it still doesn't work for you let me know.

[2021-04-14 15:29] ezzieyguywuf commented on #618
@devurandom  absolutely, I would love to do this. I *think* that I need to add `https://github.com/${PN}/archive/${PV}.tar.gz` to SRC_URI, and the `cp` it to the appropriate place.

Unfortunately I have not had a chance to test this out or play around with it, as I've been focusing on other projects at the moment.

[2021-04-15 10:50] FabArd opened #1175 "Error when installing cabal"
I tried to install cabal with the following command : emerge --ask dev-haskell/cabal and I received the following error :

At the end of the installation message there was this text :

* Messages for package dev-haskell/text-1.2.4.1_rc1:

 * Cabal package 'text-1.2.4.1' is shipped with 'PM:9.0.1' ('9.0.1').
 * Ebuild author forgot an entry in CABAL_CORE_LIB_GHC_PV='PM:8.10.3 PM:8.10.4 PM:9999'.
 *

[2021-04-15 21:03] solpeth commented on #1175
That doesn't seem right :) I'll look into it. I might need you for more details.

[2021-04-15 21:08] solpeth commented on #1175
Can I ask for which version of ghc you have installed? `ghc --version` in the command line should tell you.

[2021-04-16 06:14] FabArd commented on #1175
I have installed ghc version 9.0.1

[2021-04-16 06:21] solpeth commented on #1175
That makes sense. The latest supported ghc in `::haskell` is `8.10.4`. How did you install `ghc-9.0.1`?

[2021-04-16 06:45] solpeth commented on #1175
In any case, the reason I ask is this:

If you haven't done anything special, e.g. you haven't manually unmasked the newest `dev-lang/ghc`, then you shouldn't be able to access `ghc-9.0.1`. And that is an issue I'd like to look into, if this is the case.

But if you _have_ done something like unmasking `ghc-9.0.1` manually, then it makes sense that you're running into this build failure and the fi

[2021-04-16 06:56] FabArd commented on #1175
here are the last commands of my bash :

emerge --ask =dev-lang/ghc-9.0.1

emerge app-eselect/eselect-repository
eselect repository list
eselect repository enable haskell

echo "*/*::haskell ~$(portageq envvar ARCH)" >> /etc/portage/package.accept_keywords/custom

emerge --ask dev-haskell/cabal

[2021-04-16 07:01] solpeth commented on #1175
Could you please post the output of `emerge -vp =dev-lang/ghc-9.0.1`?

[2021-04-16 07:09] FabArd commented on #1175
# emerge -vp =dev-lang/ghc-9.0.1

Local copy of remote index is up-to-date and will be used.

Local copy of remote index is up-to-date and will be used.

These are the packages that would be merged, in order:

Calculating dependencies... done!
[ebuild   R   *] dev-lang/ghc-9.0.1:0/9.0.1::gentoo  USE="gmp (-big-endian) -binary -doc -elfutils -ghcbootstrap -ghcmakebinary -numa -profile -test" 0 KiB

[2021-04-16 07:13] solpeth commented on #1175
Could you please post the output of `emerge --info`?

[2021-04-16 07:15] FabArd commented on #1175
calculate /home/fabrice # emerge --info
Portage 3.0.17 (python 3.8.8-final-0, default/amd64/20/desktop, gcc-10.2.0, glibc-2.32-r7, 5.10.26-calculate x86_64)
=================================================================
System uname: Linux-5.10.26-calculate-x86_64-AMD_Phenom-tm-_II_X4_955_Processor-with-glibc2.2.5
KiB Mem:    16404964 total,  13848416 free
KiB Swap:   32809924 total,  32809924

[2021-04-16 07:24] solpeth commented on #1175
Sorry, this might take a while. Issue is: `ghc-9.0.1` has no keywords, so it shouldn't be available on your arch. But it apparently is, in your case. What is the output of `cat /etc/portage/package.accept_keywords/*`?

[2021-04-16 07:31] FabArd commented on #1175
'# cat /etc/portage/package.accept_keywords/*
'# This file will be migrate to new installation

'# required by freecad (argument)
=media-gfx/freecad-0.19.1 ~amd64
'# required by media-gfx/freecad-0.19.1::gentoo
'# required by freecad (argument)
=dev-libs/OpenNI2-2.2_beta2 ~amd64
'# required by media-gfx/freecad-0.19.1::gentoo[python_single_target_python3_8]
'# required by freecad (argument)
=dev-p

[2021-04-16 07:37] solpeth commented on #1175
Thank you. Please remove:
[code]

from the respective file in `/etc/portage/package.accept_keywords/`, and your system should downgrade to `ghc-8.10.4`. `ghc-9.0.1` is not yet supported in `::haskell` or `::gentoo`.

`ghc` requires the coordination of a number of packages in order for the whole `::haskell` ecosystem to work together correctly. They are not yet all available for `ghc-9.0.1`.

Once

[2021-04-16 07:37] #1175 closed

[2021-04-21 07:26] trofi opened #1177 "dev-haskell/reflex-0.8.1.0 tests pull in hlint-2 and cause conflicts"
[code]

[2021-04-21 07:30] trofi commented on #1177
Looking at `.cabal` file it should be fine to use `hlint-3`:

[code]

[2021-04-21 07:32] #1177 closed

[2021-04-21 07:34] solpeth commented on #1177
Sorry, I missed this when bumping. Thanks!

[2021-04-30 19:00] trofi opened #1178 "dev-haskell/ghc-lib-parser-9 causes upgrade conflicts"
[code]

[2021-04-30 21:50] solpeth commented on #1178
Porting `ormolu`, `fourmolu` and `stylish-haskell` to a newer `ghc-lib-parser` is not something I am familiar with, so I've reverted the commits which dropped the 8.10 series of `ghc-lib-parser` packages, as well as the compatible `hlint` version. If `hlint-3.3` requires explicit masking to not confuse Portage (being the only package which requires the 9.0 series of `ghc-lib-parser`), please do le

[2021-05-06 06:53] trofi commented on #1178
I'm afraid I keep getting huge warnings on every upgrade:

[code]

[2021-05-06 08:25] solpeth commented on #1178
Okay. I will mask the newer versions of hlint and ghc-lib-parser* and hopefully that resolves the issue.

[2021-05-06 08:30] solpeth commented on #1178
Masked in https://github.com/gentoo-haskell/gentoo-haskell/commit/f0bd86c76d72645c6f6fe4ad5053ca6ce96e67ca. Hopefully that works... but please do let me know if it does not!

[2021-05-07 06:52] trofi commented on #1178
Works now. Thank you!

[2021-05-07 08:40] solpeth commented on #1178
Phew! Thank you for your help! I will close this now.

[2021-05-07 08:40] #1178 closed

[2021-05-09 09:21] solpeth opened #1179 "Cannot upgrade to tls-1.5.5 due to dependency conflict"
`dev-haskell/tls-1.5.5` requires `>=dev-haskell/cryptonite-0.27`, but `dev-vcs/darcs-2.16.3` requires `<dev-haskell/cryptonite-0.28`.

[code]
Related commits:

- https://github.com/gentoo-haskell/gentoo-haskell/commit/eb9e2481a1f8de25579d3ff322053b50d4e54d7f
- https://github.com/gentoo-haskell/gentoo-haskell/commit/ff73487b5162e3054184ac1bf7c3c9babbf2f84c

[2021-05-11 06:53] #1179 closed

[2021-05-13 02:52] necrose99 commented on #939
**ghc-bin** make install ie **/usr/local.....** will have base binaries , and build remaining
ghc-9.0.1-x86_64-deb10-linux-dwarf.tar.xz  , ghc-9.0.1-armv7-deb9-linux.tar.xz  ghc-9.0.1-aarch64-deb9-linux.tar.xz

app-text/pandoc-bin  : https://gitlab.com/src_prepare/src_prepare-overlay/-/tree/master/app-text/pandoc-bin
cabal-install-bin : https://downloads.haskell.org/cabal/cabal-install-3.4.0.0/

e

[2021-05-13 03:13] necrose99 opened #1182 "dev-lang/ghc-bin"
https://github.com/gentoo-haskell/gentoo-haskell/issues/939
this might be useful also as one could use the upstream binaries and or build newer versions , without breaking the currently installed till full upgrade or the like would be readied/stable and functional

**dev-lang/ghc-bin**
 (**USE** upstream Binaries to bootstrap ghc if possible
 ie: like in similar fashion ;  **rust-bin , julia-bin**

[2021-05-13 13:17] trofi commented on #1182
Gentoo used to have a ghc-bin ebuild. It was hard to manage and required keeping not one but two ebuilds in sync. It also complicates scenarios of using non-bin ghc when bin was visible and the other way around.

[2021-05-13 13:17] #1182 closed

[2021-05-13 13:25] trofi opened #1183 "<dev-haskell/cryptonite-0.27 upgrade conflicts"
Today an update is blocked on at least codex:

[code]

[2021-05-13 13:26] trofi opened #1184 "<dev-haskell/base64-bytestring-1.1 update conflicts"
Today world update failed for me as:

[code]

[2021-05-13 13:26] trofi opened #1185 "<dev-haskell/vty-5.29 update conflicts"
Today world update failed for me as:

[code]

[2021-05-13 16:55] #1185 closed

[2021-05-13 17:31] #1183 closed

[2021-05-15 10:09] trofi commented on #1184
world update resolves for me now.

[2021-05-15 10:09] #1184 closed

[2021-05-20 22:36] trofi commented on #704
https://sourceware.org/PR27837 should make binutils more tolerant to `-r` / `--relax` mix.

[2021-05-25 07:12] trofi opened #1187 "<dev-haskell/brick-0.54 conflicts"
Today world upgrade fails for me as:

[code]

[2021-05-25 22:08] trofi commented on #1187
Fixed by  683c9be5056d351c020122f7595967eb1d60e658

[2021-05-25 22:08] #1187 closed

[2021-06-08 00:45] matoro opened #1188 "=dev-haskell/stm-2.5.0.0: cannot rebuild since upgrade to =dev-lang/ghc-8.10.5, even with haskell-updater"
Hi, I just updated to =dev-lang/ghc-8.10.5, and was performing the usual `haskell-updater` routine, but it seems to have gotten stuck on `dev-haskell/stm`, which it cannot rebuild no matter what.

Command:  `sudo haskell-updater -- --usepkg-exclude '*/*'`

Log:  [haskell-updater.log](https://github.com/gentoo-haskell/gentoo-haskell/files/6612705/haskell-updater.log)

Key message:
[code]

[2021-06-08 04:24] solpeth commented on #1188
Sorry about this, I forgot to keyword stm-2.5.0.1. I'm at work which means I'm afk, but I can get to this in the next hour.

[2021-06-08 05:23] #1188 closed

[2021-07-01 06:36] trofi opened #1190 "dev-haskell/relude conflicts"
[code]

[2021-07-01 06:37] trofi opened #1191 "dev-haskell/quickcheck conflicts"
[code]

[2021-07-01 06:37] trofi opened #1192 "dev-haskell/diagrams-core conflicts"
[code]

[2021-07-01 06:37] trofi opened #1193 "dev-haskell/monoid-extras conflicts"
[code]

[2021-07-01 06:38] trofi opened #1194 "dev-haskell/ghc-events conflicts"
[code]

[2021-07-01 09:37] solpeth commented on #1065
This appears to no longer be an issue at least on my machine (8GiB RAM) with ghc-8.10.5. Unless others are continuing to experience issues I'm tempted to finally re-enable optimisations by default.

Build time is still impacted, but memory isn't being aggressively exhausted like it used to.

[2021-07-01 17:54] #1194 closed

[2021-07-01 21:10] #1190 closed

[2021-07-01 21:32] trofi opened #1195 "dev-haskell/lens conflicts"
[code]

[2021-07-01 21:32] trofi opened #1196 "dev-haskell/doctest conflicts"
[code]

[2021-07-01 21:32] trofi opened #1197 "dev-haskell/haddock-library conflicts"
[code]

[2021-07-01 21:33] trofi opened #1198 "dev-haskell/semialign conflicts"
[code]

[2021-07-01 21:33] trofi opened #1199 "dev-haskell/tasty-hedgehog conflicts"
[code]

[2021-07-02 23:51] markwright commented on #1192
One way to fix it would be to bump the reverse dependencies of dev-haskell/diagrams-core-1.5.  Unfortunately some of them fail to build with ghc 9.0.1 so I'm not able to bump them, sorry.

[2021-07-02 23:59] trofi commented on #1192
No problem! Yeah, I'm slowly doing it locally. A bit hard to test the final result with multiple parallel conflicts.

Thank you for sorting out ghc-9 story! We really need it.

[2021-07-03 15:04] trofi commented on #1198
I hope i caught most of it with:

7baa482776 dev-haskell/reflex: allow semialign-1.2
d998a344cb dev-lang/purescript: allow semialign-1.2
53ce797a9e dev-haskell/patch: allow semialign-1.2
464ef90920 dev-haskell/hnix: allow semialign-1.2
42578695b4 dev-haskell/cabal-plan: allow semialign-1.2
d5a21a4703 dev-haskell/semialign-indexed: allow semialign-1.2

[2021-07-03 15:04] #1198 closed

[2021-07-03 15:05] trofi commented on #1192
I hope I caught most of it with:

d0b209812a dev-haskell/diagrams: allow diagrams-core-1.5
c1f7df2a82 dev-haskell/diagrams-canvas: allow diagrams-core-1.5
0fedde8c43 dev-haskell/diagrams-cairo: allow diagrams-core-1.5
1879e6a51b dev-haskell/diagrams-pgf: allow diagrams-core-1.5

[2021-07-03 15:05] #1192 closed

[2021-07-03 17:42] #1199 closed

[2021-07-03 18:34] trofi commented on #1195
The following should fix at least most of conflicts:

e5786176d2 dev-haskell/clckwrks: allow lens-5
c851b8a6f3 dev-haskell/happstack-authenticate: allow lens-5
7a9a5a1aa2 dev-haskell/lsp-types: allow lens-5
b27764a48b dev-haskell/patch: allow lens-5
e27f2cf48a dev-haskell/reflex: allow lens-5
b446aeb20d dev-haskell/semialign-indexed: allow lens-5
32227e55b5 dev-haskell/snap: allow lens-5
c45fc04ea

[2021-07-03 18:34] #1195 closed

[2021-07-03 18:40] trofi commented on #1193
I think the real conflict was `diagrams-core` (since fixed).

[2021-07-03 18:40] #1193 closed

[2021-07-03 18:40] trofi commented on #1191
I think the real conflict was `dev-haskell/http-api-data` (since fixed).

[2021-07-03 18:40] #1191 closed

[2021-07-03 18:53] trofi commented on #1196
Sorted most of conflicts with

550221c782 dev-haskell/hasmin: allow doctest-0.18
9795166379 dev-haskell/polysemy: allow doctest-0.18
1c6b862974 dev-haskell/turtle: allow doctest-0.18
3a5a77e34f dev-haskell/type-errors: allow doctest-0.18
ff4f248bfa dev-haskell/type-errors-pretty: allow doctest-0.18
b211ea9995 dev-haskell/ad: allow doctest-0.18
4fb7643ee5 dev-haskell/email-validate: allow doctest-0

[2021-07-03 18:53] #1196 closed

[2021-07-04 07:37] #1197 closed

[2021-07-04 08:39] trofi opened #1200 "dev-haskell/hledger-1.22 conflicts"
[code]

[2021-07-04 09:03] solpeth commented on #1200
Sorry again, I will sort this.

[2021-07-04 10:11] solpeth commented on #1200
I've reverted for now. Unfortunately I do not have the time to properly figure out the issues with hledger-interest and hledger-iadd, which won't build due to type signature changes in hledger-lib. I'll try to avoid this situation in the future.

[2021-07-04 10:16] trofi commented on #1200
Ah, no problem! I can also have a look at how large the API changes are and attempt to port.

[2021-07-04 10:37] solpeth commented on #1200
No worries!

The main issue is around a change from a list type to a Map in hledger-lib as regards `MixedAmount`, if I remember correctly, as well as hiding some types from the exported API. Importing `Hledger.Data.Types` resolves one issue, the next is adapting functions to the type signature changes in hledger-lib-1.22.

If I didn't have work I'd try to get this done instead of waiting for upstr

[2021-07-04 10:52] trofi commented on #618
Yeah, I think mechanically we can dump a bunch of files into a directory and point ELM_HOME at it.
A bit of cache structure has to be preserved. builder/src/Stuff.hs:getCacheDir:

[code]

[2021-07-04 11:40] trofi commented on #618
Another hurdle: fetching depends files has to be done in a very specific way:

[code]

That will probably force us to mirror at least all dependency metadata (and maybe packages themselves as well?)

[2021-07-06 07:05] devurandom opened #1201 "dev-haskell/ghcide-1.0.0.0-r1 is missing a dependency on dev-haskell/lsp-test"
dev-haskell/ghcide-1.0.0.0-r1 fails to build unless I manually install dev-haskell/lsp-test:

[code]

[ghcide-build.log](https://github.com/gentoo-haskell/gentoo-haskell/files/6767990/ghcide-build.log)

[2021-07-17 19:50] hololeap opened #1203 "repoman in GitHub Actions does not support EAPI 8"
[code]

[code]

[code]

[2021-07-17 20:45] #1203 closed

[2021-07-17 22:08] hololeap opened #1205 "pkgcheck fails when VCS version visible for KEYWORDS="~amd64""
Is this always reasonable? Is there a way to turn it off?

[code]

[2021-07-18 20:47] #1147 closed

[2021-07-18 20:47] #1201 closed

[2021-07-19 07:40] trofi commented on #1205
Yes. VCS ebuilds can't mirror their artifacts over Gentoo mirrors (or user's $DISTDIR). The solution is usually to make a snapshot and fetch tarball from SCM based on commit hash. Example eclass is https://devmanual.gentoo.org/eclass-reference/vcs-snapshot.eclass/index.html

[2021-07-19 07:40] #1205 closed

[2021-07-19 07:43] trofi opened #1206 "dev-haskell/ghc-api-compat-8.6.1_pre20210712 fails to unpack"
[code]

[2021-07-26 19:18] voneiden opened #1208 "dev-haskell/cabal-3.2.1.0-r1 missing PM:8.10.5-r1 in CABAL_CORE_LIB_GHC_PV"
I guess the same root issue as was fixed here as well https://gitweb.gentoo.org/repo/gentoo.git/commit/?id=d23d3f3945b0c25db7da5e2cdaab1ef859eff0ce

[code]

[2021-07-26 21:17] trofi commented on #1208
Oh yes, absolutely. Do you want to fix it yourself?

[2021-07-27 07:36] voneiden commented on #1208
Sure sure, but please double check I'm not doing anything silly.

[2021-07-27 09:15] #1208 closed

[2021-07-31 19:51] hololeap opened #1211 "Rename dev-haskell/hakyll* to www-apps/hakyll*"
I think it would make sense to rename these packages:

[code]

to

[code]

`dev-haskell/hakyll` is in `::gentoo`, so it would need to be renamed there as well.

[2021-07-31 20:00] hololeap opened #1212 "Mask pandoc-citeproc for removal"
_Originally posted by @solpeth in https://github.com/gentoo-haskell/gentoo-haskell/issues/1207#issuecomment-885347473_

It looks like `pandoc-2.9.2.1` has been removed so it seems safe to mask `pandoc-citeproc` for removal.

[2021-07-31 20:33] trofi commented on #1211
They are all pure libraries without readily runnable executables. They are not really apps.

[2021-07-31 21:02] hololeap commented on #1211
Hm, I thought the `hakyll` package came with a `hakyll` executable for generating HTML. I guess it doesn't. I've never used it, to be honest.

[2021-07-31 21:02] #1211 closed

[2021-07-31 21:52] trofi commented on #1211
It always needs a bit of haskell boilerplate supplied by user like https://github.com/trofi/trofi.github.io.gen/blob/master/src/site.hs

[2021-08-10 02:46] hololeap commented on #1065
This version isn't in the tree anymore, and the newest version with `ghc-8.10.5` doesn't seem to have this problem. Closing.

[2021-08-10 02:46] #1065 closed

[2021-08-15 15:43] hololeap opened #1214 "dev-haskell/jupyter: Fails to build on `ghc-8.10.5-r1`"
[code]

[2021-08-15 15:50] hololeap commented on #1214
The last upload for this package is `2016-08-14` and the source repo is missing:

http://github.com/gibiansky/haskell-jupyter

Still, I'll see if I can get it to a usable state and mask for removal if it seems too broken/outdated.

[2021-08-15 15:52] hololeap commented on #1214
Looks like that was a mistake in the cabal file. The repo still exits, although it hasn't been updated for years: https://github.com/gibiansky/jupyter-haskell

[2021-08-18 10:16] solpeth commented on #1200
Should be resolved with the release of `hledger-interest-1.6.2` recently.

[2021-08-18 10:16] #1200 closed

[2021-08-20 21:12] hololeap commented on #1214
Fixed by #1215

[2021-08-20 21:12] #1214 closed

[2021-08-28 02:01] redblade7 opened #1216 "=dev-lang/ghc-8.10.6 very slow download speed"
Updating to the recently stabilized =dev-lang/ghc-8.10.6 is taking a very long time because https://slyfox.uni.cx/~slyfox/distfiles/ghc-bin-8.10.6-x86_64-pc-linux-gnu.tbz2 is downloading at extremely slow speeds (in the bytes per second).

[2021-08-28 08:44] hololeap opened #1217 "doctests fail when package is listed as a dependency"
I ran into this today, and I seem to remember running into it in the past. During the `test` phase, doctests fail looking for the package that is being merged:

[code]

The solution I found was to remove the package name from the list of dependencies of doctest:
[code]
[(source)](gentoo-haskell/gentoo-haskell/blob/master/dev-haskell/higgledy/files/higgledy-0.4.1.1-remove-doctest-dep.patch)

I'm no

[2021-08-28 08:48] hololeap commented on #1216
I'm also seeing very slow connection speeds here:

[code]

@trofi  @solpeth Are you guys experiencing the same thing?

[2021-08-28 09:49] trofi commented on #1216
It will take a while to settle. That host has very little egress bandwidth and we currently have 26 concurrent clients.

https://gitweb.gentoo.org/repo/gentoo.git/commit/dev-lang/ghc?id=c3e9bd6f88b4d24a55bd8959f5248732077e376b will trigger binary mirroring to `::gentoo`. Once binary is landed on distfiles it should get better. One of the options is to unkeyword `8.10.6` in `::haskell` until mirror

[2021-08-28 17:08] Lucretia commented on #1216
I had a 37d estimate yesterday. Any chance you can upload this file to github somewhere or mega or dropbox or googlesomething or just anywhere other than that site?

[2021-08-28 18:12] trofi commented on #1216
Until mirroring to `::gentoo` succeeds as a workaround you can try `USE=ghcbootstrap emerge -v1 ghc`. That should rely on ghc sources and already installed ghc compiler. `8.10.5` might be good enough as a bootstrap.

I don't really have extra bandwidth to upload the binary on top of existing egress load.

[2021-08-28 18:34] hololeap commented on #1216
@trofi Just make your internet faster

[2021-08-28 18:34] hololeap commented on #1216
@trofi Is there any sort of ETA on when the files will propagate to the `::gentoo` mirrors?

[2021-08-28 18:42] hololeap opened #1218 "BitBot on #gentoo-haskell ?"
I'm talking to the people in `#bitbot` about getting a bot installed that will respond with string such as `#1216` with a summary of https://github.com/gentoo-haskell/gentoo-haskell/issues/1216 , sort of like how `willikins` functions in regards to Gentoo bugs.

What are your opinions on this?

[2021-08-28 20:11] #1218 closed

[2021-08-28 22:50] solpeth commented on #1216
I'll avoid this in future bumps. Sorry all. As a hands-on workaround, people should be able to download the appropriate binary from here and drop it in `/var/cache/distfiles/`: https://drive.google.com/drive/folders/1lylo-VkOpSMaTKfNtvye48VfUGO1-glD?usp=sharing

If the speeds are still no good, I can seed the files with torrents.

[2021-08-29 07:55] trofi commented on #1216
I masked `ghc-8.10.6` as https://github.com/gentoo-haskell/gentoo-haskell/commit/729da7d50cea5ea6659b62b90727799f9c95c981 and will unmask when http://distfiles.gentoo.org/distfiles/ start showing the binary.

[2021-08-30 12:05] #1216 closed

[2021-08-30 15:30] trofi commented on #1217
Does adding `rebuild-after-doc-workaround` to `CABAL_FEATURES` workaround build failure? I wonder if it's a sibling of https://github.com/haskell/cabal/issues/7213 or something else entirely.

[2021-08-31 02:27] hololeap commented on #1217
I'm not sure why, but I was using `doctest-0.16` when I built it. `doctest-0.18` doesn't seem to have this problem.

[2021-09-01 04:14] hololeap commented on #1217
Hm, it seemed to work, until I renamed the ebuild to `0.4.1.1-r1.ebuild` ... I started having the same problem again, but I tried `rebuild-after-doc-workaround`, and it seems to work again. Hopefully that will be the end of it.

[2021-09-05 18:42] #1217 closed

[2021-10-10 16:40] hololeap opened #1224 "Error emerging `dev-util/hadolint-2.7.0`"
_Reported by user bubbler on [#gentoo-haskell](irc://libera.chat/#gentoo-haskell)_

[2021-10-10 18:29] hololeap opened #1225 "panic! ModOrigin: hidden module redefined"
I'm getting this error on a couple packages:

`dev-haskell/lsp-types`
`dev-haskell/optics-extra`:

[code]

This error even crops up if you try it as a normal user using `cabal`
(only using `v1` commands; `v2` doesn't seem to have the issue):

[code]

---

Strangely, the workaround seems to be:
1. emerge the package with `USE="-doc"`
2. emerge the package normally

After this, everything works norm

[2021-10-10 20:51] solpeth commented on #1225
Does the `use-after-doc-workaround` `CABAL_FEATURES` option work? The naming might be wrong here, but I'm afk.

[2021-10-11 12:53] Anrock opened #1226 "Ebuild for GHC 8.10.7"
It was realesed quite some time ago. Please provide a ebuild.

[2021-10-17 18:42] hololeap commented on #1226
We had some infrastructure issues on the last GHC release where people were having a hard time getting the bootstrap binaries, and we may run into the same issue again with a new GHC release.

@solpeth any comment on this?

[2021-10-22 13:25] hololeap opened #1227 "Python error running pkgcheck job"
The [job](https://github.com/gentoo-haskell/gentoo-haskell/runs/3976122423?check_suite_focus=true) fails due to a Python error:

[code]

[2021-10-23 02:08] khumba opened #1228 "Circular dependency trying to install cabal"
Hello,

I am trying to get a new Haskell development environment set up, and I am unable to install `dev-haskell/cabal` and thus any further packages from `::haskell` due to circular dependencies.  Emerge is able to find a solution if I explicitly request an older `hashable`; the latest hashable's `>=dev-haskell/cabal-2.2.0.1` dependency seems to cause problems.  Maybe there are other packages who

[2021-10-23 03:11] #1228 closed, assigned to solpeth

[2021-10-31 08:17] hololeap opened #1231 "doctest: Ambiguous module name"
When compiling [dhall-1.40.1](https://hackage.haskell.org/package/dhall-1.40.1) I hit this error when `doctest` is run:

[code]

What is strange about this is that `hashing` is not mentioned anywhere in the package, but it is installed on my system. There are no such issues when the compile phase is run.

[2021-10-31 08:39] hololeap commented on #1231
[code]

I just tried this and got the same error, so it's probably a bug with `doctest`.

[2021-10-31 08:43] hololeap commented on #1231
[This old doctest bug](https://github.com/sol/doctest/issues/119) looks relevant.

[2021-11-15 10:03] Anrock commented on #1226
@solpeth since you're not really interested in 8.10.7 maybe there is an instructions/tips/procedure of writing ebuild for new ghc version? So I can try to do it myself and submit here.

[2021-11-16 22:11] solpeth commented on #1226
Very much interested, just time-poor unfortunately!

GHC bumping is a bit more involved than updating the ebuild. Roughly:

1. Bump the ebuild version
2. Mark bundled libraries across `::haskell` with `CABAL_CORE_LIB_GHC_PV` (find the list on the libraries section of the ghc release notes)
3. (only for major version bumps) Build at least 75% of `::haskell` as well as the list of core packages, oth

[2021-11-17 06:27] Anrock commented on #1226
Okay, so far I've
1. Bumped ebuild
2. Added `PM:8.10.7` to `CABAL_CORE_LIB_GHC_PV` to all ebuilds I could frind from GHC libraries list
Couldn't find ebuilds for
* Win32 2.6.2.1
* array 0.5.4.0
* base 4.14.3.0
* ghc-compact 0.1.0.0
* ghc-prim 0.6.1
* hpc 0.6.1.0
* integer-gmp 1.0.3.0
* template-haskell 2.16.0.0

And for, though there were some -generic/-compat/-etc versions.
* bytestring 0.10.12.0

[2021-11-19 04:41] Anrock commented on #1226
Seems like everything is fine with test packages.

@solpeth it's a little bit unclear how to use `refresh-ghc-bin-haskell.bash` script. I've tried executing `./refresh-ghc-bin-haskell.bash --target-arch=amd64 --temp-tmpfs` (from example inside), but it fails right at the beginning during downloads getting 404 for `http://distfiles.gentoo.org/releases/amd64/autobuilds/latest-stage3-amd64.txt` and r

[2021-11-22 02:41] hololeap opened #1233 "Keyword GHC 9.2.4"
I created a new [branch](https://github.com/gentoo-haskell/gentoo-haskell/tree/ghc-9.2.1) and built `dev-lang/ghc-9.2.1` bootstrapping off of `8.10.6`. So far it seems to be working.

I ran the following succesfully:

[code]

Here is my `/etc/portage/package.accept_keywords` I am using:

[code]

[2021-11-24 19:41] solpeth commented on #1233
Cool! It would be interesting to see how up-to-date hackage is with modern ghc. I wonder how far we would get with the 75% rebuild task. I personally don't have time for it for the rest of the year at this stage but great that you've gotten us past the first hurdles.

Thanks!

[2021-11-27 17:40] aureliocarlucci opened #1234 "Agda and Agda-stdlib out of date"
The ebuilds provided for _agda_ and _agda-stdlib_ are out of date. The former is available only for version 1.6.2, while both ebuilds rely on v1.4 of the _agda-stdlib_:

https://github.com/gentoo-haskell/gentoo-haskell/blob/339e665bed3bdfc479d3c844ecd332b1f6533c8e/sci-mathematics/agda/agda-2.6.1.2.ebuild#L21

which is currently at [version](https://github.com/agda/agda-stdlib/releases/tag/v1.7.1)

[2021-11-28 05:57] solpeth commented on #1234
Thanks for the report!

I'll see if I can give it a go now. When I have more time I will get around to replying on how you could do this yourself - as that would be very helpful for all of us!

[2021-11-28 10:06] aureliocarlucci commented on #1234
Thanks for your reply. Looking forward to that!

[2021-11-28 21:16] solpeth commented on #1234
So my process has been:

1. `hackport merge` the new agda version (`2.6.2`)
2. Copy in all the handcrafted stuff from the previous version to the new version
3. Update the `stdlib` version in the `agda` ebuild to the version required by the new version of agda (in this case it seems to be `1.7.1`, so the version we would use for the stdlib is `2.6.2.1.7.1`)
4. Copy the `agda-stdlib` ebuild to a ne

[2021-11-28 21:17] #1234 closed

[2021-11-28 21:29] aureliocarlucci commented on #1234
Many thanks for doing this so promptly! Next time I will give it a go to bump-up the version myself.

[2021-11-28 21:59] solpeth commented on #1234
That sounds great! We can always do with more help. I look forward to your contributions!

[2021-12-04 22:45] l29ah commented on #1233
Any reasons not to merge it into master?

[2021-12-06 21:08] hololeap commented on #1233
@l29ah It's very much a work-in-progress and the Haskell ecosystem is in flux regarding ghc-9.2 support and aeson-2 support, so it wouldn't make sense to clutter up `master` with a ton of commits that are going to be amended/dropped in the near future.

[2021-12-17 00:18] #1227 closed

[2021-12-17 00:20] hololeap commented on #1227
Fixed upstream:

https://github.com/pkgcore/pkgcheck-action/issues/4#issuecomment-993316709

[2022-01-04 09:12] hereGittyGitty commented on #1224
There is a corresponding [Bug 817800](https://bugs.gentoo.org/show_bug.cgi?id=817800) on Gentoo's Bugzilla.

[2022-01-20 06:07] solpeth commented on #1224
Sorry, this has taken me too long to get around to. I'll see what I can figure out.

[2022-01-20 07:20] hereGittyGitty commented on #1224
Thank you and no worries.

[2022-01-21 16:12] l29ah opened #1240 "dev-util/hoogle-5.0.18.2: Error: Action generate unknown"
`hoogle` installs `/etc/cron.daily/hoogle-generate` that produces this error on launch.

[2022-01-21 17:21] hololeap commented on #1240
Please try replacing the contents of that file with this, and then try again:

[code]

This should have the effect of regenerating the database and restarting the `hoogle` daemon every time it's run.

[2022-01-21 17:24] hololeap commented on #1240
It should look like this in the browser:

![image](https://user-images.githubusercontent.com/5141476/150571990-2bdd41e5-b03e-4f96-9bf0-19a866a456c3.png)

[2022-01-24 01:30] peigongdsd opened #1243 "dev-haskell/spago failed to build"
As the title goes. Maybe something is wrong with the package version. Here's the build output.

[code]

Here's the emerge info
[code]

[2022-01-24 08:25] solpeth commented on #1165
This will be done as part of ghc-9.0.2 keywording. Thanks for your work on this so far, and for getting a list together!

[2022-01-26 05:07] solpeth commented on #1243
This upstream commit seems to remove `PossiblyTransitiveInputFile` from `dhall`: https://github.com/dhall-lang/dhall-haskell/commit/698101bd549374b0c1b66b36e22dfa450ff993e9#diff-3c6a893ac71793a18f2ddbe1d7bac83c638a8adba7d2f87d869e79d3a24bb990.

`spago` would need porting to newer dhall - or we need to downgrade dhall and associated packages to 1.38.

[2022-01-27 09:21] nilssonk opened #1245 "dev-haskell/hlint-3.2.7 breaks with dev-haskell/extra-1.7.10"
hlint fails to build when dev-haskell/extra-1.7.10 is installed.

[code]

There was [an issue](https://github.com/ndmitchell/hlint/issues/1287) for hlint last August but it looks like the subsequent change in hackage didn't get reflected in the overlay. I tested it locally by masking extra-1.7.10 and the build started working again.

[2022-01-27 09:34] solpeth commented on #1245
Thanks for the report! This is already fixed in the latest (upstream) hlint, by prefixing both occurrences of `!?` with `Data.Map.`. A similar patch should be trivial to put together to get hlint-3.2.7 working, until the latest version can be unmasked.

[2022-01-27 09:40] solpeth commented on #1226
Sorry, @Anrock ! You were indeed using the script correctly (although I would also add `--needed-atom='=dev-lang/ghc-8.10.7`, which needs to already be in `::haskell` to work). You actually discovered a bug whose fix I need to push to the script in the repo: the stage3 url has changed.

@hololeap and I are actively working to get ghc-9.0.2 keyworded as soon as possible - although it is not ghc-8.1

[2022-01-27 18:20] Anrock commented on #1226
@solpeth thanks. As I was saying I need 8.10.7 specifically since this is the version my company uses at the moment. 9.x is surely better and all that, but I guess we're not upgrading in close future.

So what are my next steps to make 8.10.7 happen in this overlay? Wait for you to fix the script, then try running it again? So far I've put the ebuild in my local repo and it seems to be working fin

[2022-01-27 19:49] #1245 closed

[2022-01-27 20:14] hololeap commented on #1226
@Anrock I added `ghc-8.10.7` but have not tested it. You'll have to set up your config like this:

`/etc/portage/package.use/haskell`
[code]

`/etc/portage/package.accept_keywords/haskell`
[code]

Let us know if you have any problems.

[2022-01-27 21:28] dorrellmw opened #1246 "UPDATE: Gentoo mirror adds keywords? Old Title: dev-haskell/text: Ebuild author forgot an entry in..."
Just upgraded GHC to 8.10.7. The first haskell package to be recompiled failed during the installation phase:

[code]

I haven't tried any other haskell packages, so I'm not sure if it's related to just dev-haskell/text or if everything's broken.

[2022-01-27 21:40] dorrellmw commented on #1246
UPDATE: Looks like it's not supposed to have keywords, but it does?
[code]
Looks like the Gentoo mirror of this repository added the keywords. Does that make sense?
Compare this...

https://github.com/gentoo-haskell/gentoo-haskell/blob/3a082140434fd44cdf2a871fef3605dac1df876d/dev-lang/ghc/ghc-8.10.7.ebuild#L80

...to this...

https://github.com/gentoo-mirror/haskell/blob/656c70a105d657cb936a0bcf55

[2022-01-27 21:42] dorrellmw commented on #1226
The new issue I just submitted, #1246, is related to this one.

[2022-01-27 23:26] hololeap commented on #1246
I didn't remove the KEYWORDS at first and then I made the mistake of force-pushing the edit. I hoped nobody had synced in the minute or two between the push and the force push, but it seems to have been pulled into the `gentoo-mirror` repo. Sorry about the confusion.

[2022-01-28 00:33] dorrellmw commented on #1246
There's a sync issue now.

[code]

and now emerge is angry too:
[code]

I'm fairly confident that I can fix this on my end, but hopefully there's something you can do to fix it for everyone.

[2022-01-28 00:56] hololeap commented on #1246
This is either because of my `git push --force` from earlier (sorry) or because you created a `ghc-8.10.7.ebuild` that would be overwritten by the version being pulled in.

---

[code]

This occurs because git is trying to merge the two versions of `ghc-8.10.7.ebuild` and needs manual intervention. You can edit the file manually, or use `git mergetool` to help assist you.

My recommendation is to

[2022-01-28 02:08] dorrellmw commented on #1246
I never interfered with `ghc-8.10.7.ebuild`. I don't know how widely-used this overlay is, but presumably everyone who ran `emerge --sync` today will have an angry portage if they synchronized it during the few hours between the force-push and the fix.

For me, I can run `git reset --hard origin/master`, but do you expect everyone else to know to do this? I'm not trying to be critical, but if you

[2022-01-28 02:25] hololeap commented on #1246
`git reset --hard origin/master` will make sure your tree is synchronized with the upstream. Anyone who happened to sync in the minute or two between my `git push` and my `git push --force` will have to do the same.

[2022-01-28 02:29] hololeap commented on #1246
These latest commits should fix this. I am currently installing `ghc-8.10.7` in a sandbox, so I'll be doing a bit of testing on my end as well.

[2022-01-28 02:39] dorrellmw commented on #1246
Ok, but to be clear: that is not when I synchronized. I ran `emerge --sync` sometime after your `git push --force` and before you did whatever you did to fix the Gentoo mirror. From what I can tell, I think that was between 3:09pm EST and 6:26pm EST... which is a bit over three hours, not just a minute or two.

github.com/gentoo-haskell/gentoo-haskell only had the keywords for a couple of minutes,

[2022-01-28 02:41] hololeap commented on #1246
Ok. Thanks for the info. I was already scolded for the `git push --force`, so the people running the mirror know about it. Hopefully nobody else runs into the problem, but they can contact us on IRC or open up a bug if they have issues.

[2022-01-28 02:45] hololeap commented on #1246
You may want to add this to your configs so that you don't accidentally upgrade to `ghc-9.0.2` when we finally "keyword" that version:

`/etc/portage/package.mask/haskell`
[code]

[2022-01-28 02:51] dorrellmw commented on #1246
I can confirm that `git reset --hard origin/master` does fix my local copy of the repo. Thanks again!

(By the way, I use git repositories with my job, and I was unaware of `git push --force`. If it weren't for today, I wouldn't have known about its dangers, either. Also, I never meant to be harsh, I just wanted everyone on the same page regarding the timeline.)

That's good to know, but why would

[2022-01-28 02:54] hololeap commented on #1246
Oh, if you want to upgrade to `ghc-9`, then by all means do so! You stated in the other bug report that you needed to run `ghc-8.10.7` because that was what was installed at your work. Currently we do not support installing multiple versions of GHC simultaneously, so you will have to decide if you want to stay with `8.10.7` or upgrade to `9.0.2` when the time comes.

[2022-01-28 02:57] dorrellmw commented on #1246
Hm, I think that might have been someone else. Either that or I was submitting bug reports in my sleep (not impossible).

[2022-01-28 02:58] hololeap commented on #1246
Oh, you're right! That was a different person who opened up #1226

[2022-01-28 03:00] dorrellmw commented on #1246
Sorry for the confusion!

[2022-01-28 03:02] hololeap commented on #1246
No problem. If you wouldn't mind, close this bug once you are satisfied that everything is working on your end.

[2022-01-28 03:04] hololeap commented on #1233
This is a ways off, closing.

[2022-01-28 03:29] dorrellmw commented on #1246
I just downgraded `ghc` back to the latest keyworded version, and then I rebuilt `text`, which went well. I'll close the ticket now.

Also, if it's important to stay on a _specific_ version, I would probably do `sudo emerge -av --noreplace =dev-lang/ghc-8.10.6`, since that tells portage I want to keep that version installed. I do this with kernel sources to keep depclean from removing the version

[2022-01-28 03:29] #1246 closed

[2022-01-28 03:38] hololeap commented on #1246
Sorry, there was a lot of confusion because I thought you were the person who was requesting `ghc-8.10.7` be added.

It is unlikely that `ghc-8.10.7` will be keyworded at any point. However, we are actively working on keywording `ghc-9.0.2` and will do so when we deem the rest of the ecosystem ready. You can stay on the latest `~amd64` version, which will be `ghc-8.10.6` until `ghc-9.0.2` is ready

[2022-01-28 03:42] dorrellmw commented on #1246
Yep, that was just an FYI since a lot of people don't know that portage can add specific versions of packages to the world file.

9.0.2 will be fine for me once you guys deem it ready. :-)

[2022-01-28 03:42] hololeap commented on #1246
The reason why we have not given `ghc-8.10.7` any attention is because it does not affect Linux users in any meaningful way, so it would require a rebuild of every `::haskell` package for no reason than to get a pointless version bump. However, someone has been bugging us to add it to the tree.

You just happened to sync at the wrong time and pulled in my mistake :)

[2022-01-28 04:23] hololeap commented on #1231
The best workaround seems to be to patch the module so that it uses the `PackageImports` extension and ambiguous modules can be explicitly tied to their package. For instance:

[code]

[2022-01-28 04:26] hololeap commented on #1226
`ghc-8.10.7` has been added (unkeyworded) and it seems to be working on my end.

@Anrock you may want to add this configuration so that you don't accidentally upgrade later when we keyword `ghc-9.0.2`:

`/etc/portage/package.mask/haskell`
[code]

I'm closing this as the current state of the tree should be fine for those needing `ghc-8.10.7`.

[2022-01-28 04:26] #1226 closed

[2022-01-28 05:10] solpeth commented on #1245
Thanks @hololeap!

[2022-01-28 07:40] solpeth commented on #1224
@hereGittyGitty if this issue affected you: could you please test the latest changes? The newer hadolint and spdx packages should fix the problem.

[2022-01-28 15:54] hololeap commented on #1225
`dev-haskell/lsp-types` likes to do this.

[2022-01-28 17:41] hereGittyGitty commented on #1224
Hi @solpeth,

thx for looking into this. I am afraid it is not building yet. Here is my current build log:
[code]
and my output of `emerge --info '=dev-util/hadolint-2.8.0::haskell'`
[code]

[2022-01-28 20:13] solpeth commented on #1224
Hi @hereGittyGitty , thanks for the build log. I have just pushed a hadolint revision requiring it to pull in the newer spdx. That should be available for syncing soon. Let me know how you go.

Thanks again for your help.

[2022-01-28 20:42] hereGittyGitty commented on #1224
Hi @solpeth,

it works

Thank you very much

[2022-01-28 20:44] #1224 closed

[2022-02-03 16:26] hololeap commented on #1243
This requires a non-trivial patch, so we'll have to wait for upstream to respond:

https://github.com/purescript/spago/issues/848

Keeping `spago` in its current state would require a significant number of old versions of packages added back to the tree, which will likely be incompatible with the migration to `ghc-9.0.2`. I'm masking `spago` for now.

[2022-02-04 17:11] hololeap opened #1247 "dev-haskell/language-c: Fails to build"
Reported by @jwtiyar on [#gentoo-haskell](ircs://irc.libera.chat/%23gentoo-haskell)

`dev-haskell/language-c-0.8.3-r1` fails to build:

[code]

A bump to `language-c-0.9.1` has the same issue. The patch `language-c-0.8.3-gcc-11.patch` doesn't seem to be relevant.

[2022-02-04 17:58] hololeap commented on #1247
It looks like a bump to `dev-haskell/alex` fixed it.

[2022-02-04 19:03] hololeap commented on #1247
Confirmed working

[2022-02-04 19:03] #1247 closed

[2022-02-09 02:43] hololeap commented on #1243
The current workaround for using `app-portage/hackport-9999` with stable `ghc` is to add this to `/etc/portage/make.conf`:

[code]

[2022-02-09 05:23] peigongdsd commented on #1243
Seems like uptream's already got a fix.
https://github.com/purescript/spago/issues/848

[2022-02-12 13:58] #1243 closed

[2022-02-12 15:41] hololeap commented on #1231
I discovered a much better solution to this problem: Patch the package to use [`cabal-doctest`](https://hackage.haskell.org/package/cabal-doctest) instead of using `PackageImports`.

`cabal-doctest` has some [example packages](https://github.com/haskellari/cabal-doctest/tree/master/simple-example) in their repo. Here is [a simple example](https://github.com/gentoo-haskell/gentoo-haskell/blob/8890c

[2022-02-17 16:55] hololeap opened #1250 "compile phase: panic! ModOrigin: hidden module redefined"
Edit:

This has been fixed in `dev-lang/ghc-9.0.2-r1`. If still happen to come across this error after upgrading, please let us know.

---

Could be related to https://github.com/gentoo-haskell/gentoo-haskell/issues/1225

This happens from time to time. The package will get past its `configure` phase but then panic during compilation:

[code]

[2022-02-17 17:02] hololeap commented on #1250
[This patch](https://gist.github.com/hololeap/c605c597dcda46a7aee9ded38fdd8823) seems to help provide some more useful info:

[code]

[2022-02-17 17:04] hololeap commented on #1250
I was given some info from @hsyl20 in [#ghc](ircs://irc.libera.chat/#ghc):

[code]

[2022-02-17 20:36] hololeap commented on #1250
There seems to be a workaround that works for both of these bugs simultaneously. The steps are to unmerge _all_ of the packages referenced in the GHC panic (with GHC patched with what I provided earlier), then emerge the package that had the panic. After that, reinstalling the package normally doesn't cause any problems.

For instance, using my example above:

[code]

Now, this behaves properly:

[2022-02-18 10:01] hsyl20 commented on #1250
Could you try with (not tested):

[code]

[2022-02-18 20:01] Sleekbobby1011 opened #1251 "Hi"

[2022-02-18 20:03] hololeap commented on #1251
Please don't spam the issue tracker.

[2022-02-18 20:03] #1251 closed

[2022-02-18 20:06] Sleekbobby1011 opened #1252 "Please don't spam the issue tracker."
Please don't spam the issue tracker.

_Originally posted by @hololeap in https://github.com/gentoo-haskell/gentoo-haskell/issues/1251#issuecomment-1045109849_

[2022-02-18 22:08] #1252 closed

[2022-02-19 15:29] #1165 closed

[2022-02-20 00:05] Hypoon opened #1256 "xmobar fails to compile (with ghc 9.0.2?)"
It looks like this is the problem:
[code]

[2022-02-20 00:06] hololeap commented on #1256
Thanks for the report. I'll try to get this sorted out for ya.

[2022-02-20 00:50] hololeap commented on #1256
I assume you are trying to compile version `0.37`

This should fix it: https://github.com/gentoo-haskell/gentoo-haskell/commit/c2638763d2f05728430685fbddfd05b2cf70c83d

Sync and try again

[2022-02-20 01:49] solpeth commented on #1250
I've run into this issue again. I'll give the patch a go and report back.

[2022-02-20 09:11] hololeap commented on #1250
@hsyl20 Thank you so much for taking the time to investigate this. Your patch definitely fixed it. I had two packages that were refusing to compile due to this panic and now they are happily compiling with no errors whatsoever!

[2022-02-20 09:42] hololeap commented on #1250
@hsyl20 Unfortunately, I spoke too soon. There seems to be a different panic that I'm running into now on packages that were building before:

[code]

I have noticed a trend with doctests causing strange panics, even on `ghc-8.10.6`. This package is being rebuilt because of a broken dependency. In the past, this could sometimes be worked around by removing all remnants of the package from the syst

[2022-02-20 16:03] implr opened #1258 "mtl, text, possibly others: missing CABAL_CORE_LIB_GHC_PV entry for ghc-9.0.2-r1"
Installed ghc-9.0.2-r1 from the overlay, ran haskell-updater, it gets stuck on the first two packages (mtl and text here)
[code]

[2022-02-20 18:49] hololeap commented on #1258
Fixed by #1257

[2022-02-20 18:49] #1258 closed

[2022-02-20 19:20] solpeth commented on #1256
Closing, as both the fixed version 0.37 and version 0.41 should build on ghc-9.0.2 based on local testing. Please reopen if any issues.

[2022-02-20 19:20] #1256 closed

[2022-02-21 08:31] devurandom opened #1259 "dev-haskell/stack-2.7.4_pre20220125 - Fetched file: stack-9a0683679ad49982fcfb036f87c0f99a78916d2a.tar.gz VERIFY FAILED!"
dev-haskell/stack-2.7.4_pre20220125 fails to build here:

[code]

[build.log](https://github.com/gentoo-haskell/gentoo-haskell/files/8107567/build.log)

[2022-02-21 08:36] hsyl20 commented on #1250
Ah yes `doctest` is particular because it runs GHC independently of Cabal. Hence it tries to set the correct package flags by itself (see https://hackage.haskell.org/package/doctest-0.20.0/docs/src/PackageDBs.html) but it's fragile.

Also if several builds are going on at the same time, the "package environment file" can be overwritten resulting in weird errors: https://github.com/sol/doctest/issu

[2022-02-21 10:17] Hypoon commented on #1256
Thanks for the quick fix! I can confirm that it resolved the issue.

[2022-02-21 18:27] hololeap commented on #1259
It looks like they renamed the inner directory on this tarball from `stack-master` to `stack-9a0683679ad49982fcfb036f87c0f99a78916d2a`. Thanks for reporting.

[2022-02-21 18:45] #1259 closed

[2022-02-21 18:59] hololeap commented on #1250
@hsyl20 Ok, it sounds like this is something we can try to fix per-package by making sure doctest/cabal-doctest has the right flags/environment.

[2022-02-21 21:05] redblade7 opened #1260 "dev-haskell/gifcurry error: Ambiguous occurrence ‘elem’"
After recent updates to my system, dev-haskell/gifcurry is no longer rebuilding or installing.
Attached is the build log and emerge --info.

[gifcurry-build.log](https://github.com/gentoo-haskell/gentoo-haskell/files/8112048/gifcurry-build.log)
[gifcurry-emerge-info.txt](https://github.com/gentoo-haskell/gentoo-haskell/files/8112054/gifcurry-emerge-info.txt)

[2022-02-21 21:30] hololeap commented on #1260
I'm going to take this opportunity to bump `dev-haskell/gi-*`

[2022-02-21 22:23] hololeap opened #1261 "Way to allow for static binaries"
Reading #1260 made me realize there should be a way to compile certain binaries statically so people's programs don't break during these big updates.

We could have some variable in `make.conf` that takes a list of packages:
[code]

The problem with this approach is that people would have to know about this mechanism ahead of time and have added the programs they use to the list. Another option wo

[2022-02-21 22:41] hololeap commented on #1261
A `static-exe` USE flag seems sensible

[2022-02-21 22:45] hololeap commented on #1261
We might want to add something to `hackport` so that this flag will get carried over between version bumps, sort of like:
[code]

[2022-02-22 12:58] Anrock opened #1262 "Can't build stack-2.7.3 with ghc-8.10.*"
Stack depends on `>=dev-haskell/pantry-0.5.2:=[profile?] <dev-haskell/pantry-0.5.3:=[profile?]`
But ebuild for pantry-0.5.2 was dropped in 9a3c92e7d940a407e031eb5875489977e4d809ed for some reason
And pantry-0.5.3 depends on `>=dev-lang/ghc-9.0.2:=`

So there is no way to build stack with ghc 8.10.*?

[2022-02-22 17:24] hololeap commented on #1262
Hi, sorry there hasn't been much testing to make sure 8.10 would still work. Is stack the only package you need, or are there any others?

[2022-02-22 19:52] Anrock commented on #1262
So far I've encountered a problem only with stack since I guess it's the only package that uses pantry. I've recovered pantry ebuild and the deps resolved fine but there was a build failure in sqlite-persistent (or something like that) package, so maybe there are more troubles

[2022-02-22 20:01] hololeap commented on #1262
You should be able to get portage to resolve `stack-2.7.3` successfully with this latest update: https://github.com/gentoo-haskell/gentoo-haskell/commit/010fc9ed2c024807cdbafde9f554293621d0ba96

[2022-02-22 20:02] hololeap commented on #1262
Also relevant:

https://github.com/gentoo-haskell/gentoo-haskell/commit/ae9df90ce82dce85ff46b688b5c82a544c4751ac
https://github.com/gentoo-haskell/gentoo-haskell/commit/568b0f36f3ef454e78b637c7892c618c4dc284d6

[2022-02-22 20:29] hololeap commented on #1262
It will take me a while to spin up a `ghc-8.10.7` sandbox, so feel free to paste any build failures you get here.

[2022-02-23 00:43] hololeap commented on #1260
FYI, the package has been renamed to `media-gfx/gifcurry` and there is now a `gtk` flag for building the GUI.

[2022-02-23 00:45] #1260 closed

[2022-02-23 01:13] hololeap commented on #1262
I'm getting a build error with `dev-haskell/mustache` and `ghc-8.10.6`, but it's not obvious what is going on.

[2022-02-23 02:56] hololeap commented on #1262
This is working on my end. You can choose either the latest `stack` with `cabal-3.4`, or `stack-2.7.3` with `cabal-3.2`. Both build successfully in my `ghc-8.10.6` sandbox.

[2022-02-23 02:57] #1262 closed

[2022-02-23 03:41] hololeap opened #1264 "Bump `aeson` to version 2"
This list will keep track of which packages in the tree do not currently support `>=dev-haskell/aeson-2` so we can see when it is acceptable to bump/unmask:

- [x] dev-haskell/aeson-yaml
- [x] dev-haskell/blank-canvas
- [ ] dev-haskell/cabal-install-parsers
- [x] dev-haskell/cborg-json
- [x] dev-haskell/chronos
- [x] dev-haskell/clash-lib
- [x] dev-haskell/clckwrks-plugin-page
- [x] dev-haskell/cl

[2022-02-23 07:15] hololeap commented on #1240
@l29ah Could you try out the new scripts in this revision bump?

[2022-02-26 14:26] hololeap commented on #1240
You can reopen this if you run into any more problems.

[2022-02-26 14:26] #1240 closed

[2022-02-26 15:01] hololeap opened #1265 "Failing packages on GHC-9.0.2"
I let the [random install script](https://github.com/gentoo-haskell/gentoo-haskell/blob/master/projects/build-random-haskell-pkgs.bash) run to its completion, and here are the results. Each of these packages will need to be investigated and a decision will need to be made whether to bump it, patch it, or mask it:

---

Packages that failed during compilation:

- [X] `app-text/haskell-awk`
- [ ] `d

[2022-02-27 06:42] waivio opened #1266 "Need hmatrix bump to 0.20.2"
Something about the difference between (!k) and (! k)

[code]
With commit message: Add a space after ! to adapt to the new rules in ghc-9.0.1
In commit: ddb49febd9216a8775a79d0fa940b1897214912b

[2022-02-27 19:22] solpeth commented on #1266
Is this fix present in hmatrix 0.20.2? If so, would you like to try creating the new ebuild using hackport and opening a PR for the new version of hmatrix? We can help along the way.

Otherwise we will get around to it eventually.

[2022-02-27 20:53] hololeap opened #1267 "`dev-haskell/hmatrix`"

[2022-02-27 20:55] #1267 closed

[2022-02-28 14:25] mpickering commented on #1250
@hololeap How are you building your package databases? (https://gitlab.haskell.org/ghc/ghc/-/issues/21097)

[2022-03-01 18:14] hololeap commented on #1250
@mpickering Here is the build log, which should give you most of the answers you're looking for:
https://gist.github.com/hololeap/14975b1320c290b9a22612450f02d02a

Whenever you see one of these lines, it's running `ghc-pkg recache`:
[code]

Let me know if you need any more specific info.

[2022-03-02 19:12] #1136 closed

[2022-03-03 10:43] okonkwo opened #1269 "`dev-haskell/ghcide`: Linker error"
Building dev-haskell/ghcide-1.6.0.1 fails:
[code]

[build.log](https://github.com/gentoo-haskell/gentoo-haskell/files/8177100/build.log)

[code]

[2022-03-03 19:25] hololeap commented on #1269
Thanks for the report. Do you have another version of `dev-haskell/ghcide` installed on your system currently?

You can check with:
[code]

[2022-03-03 20:27] hololeap commented on #1269
What is the big picture of what is going on currently on your system? Are you running a `@world` upgrade, `haskell-updater` or both?

Please run these commands (as root) and attach/wgetpaste the resulting file:

1.
[code]
2.
[code]

The resulting file will be:
[code]

---

If you need this working right away, the quick workaround is to `emerge -C ghcide` then try again. But, if you don't mind help

[2022-03-03 20:31] hololeap commented on #1269
Also, please share the output of:

[code]

[2022-03-03 22:22] hololeap commented on #1269
@devurandom @okonkwo

Can you temporarily use a different remote/branch for this overlay? I have a workaround that I would like for you to try out in https://github.com/hololeap/gentoo-haskell/tree/package-db-workaround

[2022-03-04 00:29] #1266 closed

[2022-03-04 01:11] hololeap opened #1270 "Restrict builds from accessing full global package DB"
After reviewing https://github.com/gentoo-haskell/gentoo-haskell/issues/1269, I have come to the conclusion that these kinds of bugs stem from the build environment having too few restrictions, where a build may access linker objects installed on the system for the very package that is being built. For instance, [in the build log](https://gist.github.com/hololeap/735d4d7c9d9654e8fa7f4dc05786781b#f

[2022-03-04 01:14] hololeap commented on #1269
Please reopen this if you run into any more problems like this.

[2022-03-04 01:14] #1269 closed

[2022-03-10 14:35] paul-jewell opened #1271 "Ensuring overlay versions are selected over gentoo versions with same version number"
I had a compilation error for dev-haskell/mtl, but I noticed it is the dev-haskell/mtl::gentoo version which is being selected rather than the overlay dev-haskell/mtl::haskell version. The version number is the same in both of these repositories, and the overlay version compiles without any issues.
According to the documentation, the priority for the gentoo repository should be -1000, but on my sy

[2022-03-10 18:19] hololeap commented on #1271
@paul-jewell Would you mind posting the compilation error you ran into if you still have access to it?

[2022-03-10 18:37] solpeth commented on #1271
@hololeap : we should probably push the library markings to packages like mtl and parsec into ::gentoo. The discrepancy can cause issues.

[2022-03-10 19:17] hololeap commented on #1271
Also, @paul-jewell, I saw your messages on `#gentoo` from earlier:

[code]

You're not the first person to mention this. Did you manage to get this working?

[2022-03-11 08:22] paul-jewell commented on #1271
On 10/03/2022 18:19, hololeap wrote:

I re-ran the emerge, and the error still occurs - I have pasted the
output here: https://paste.debian.net/1233799. It will disappear in 3
days, but hopefully that is enough time for you to see it!

Best regards,
Paul

[2022-03-11 08:25] paul-jewell commented on #1271
Not yet, but I haven't given up - I will feedback when I have resolved it! I am pretty certain it isn't a bug with the xmonad setup, but possibly something to do with having several window managers installed. I shall experiment, and if necessary dig in the sddm code.

[2022-03-11 08:32] paul-jewell commented on #1271
Ebuild differences for dev-haskell/mtl::gentoo and dev-haskell/mtl::haskell:
`1c1
< # Copyright 1999-2021 Gentoo Authors
---

4c4
< EAPI=7
---

21d20
< IUSE=""
27c26
< CABAL_CORE_LIB_GHC_PV="PM:8.4.2_rc1 PM:8.4.2 PM:8.4.3 PM:8.4.4 PM:8.6.1 PM:8.6.2 PM:8.6.3 PM:8.6.4 PM:8.6.5 PM:8.8.1 PM:8.8.2 PM:8.8.3 PM:8.8.4 PM:8.8.4-r1 PM:8.10.1_alpha1 PM:8.10.1_alpha2 PM:8.10.1 PM:8.10.2 PM:8.10.3 PM:8.10.4 PM

[2022-03-11 08:58] hololeap commented on #1271
Ok, that looks like exactly what @solpeth was mentioning. We need to get these updated lists of `CABAL_CORE_LIB_GHC_PV` into `::gentoo`.

Did you run into this error after adjusting the priority for the overlay? As you mentioned, the default for `::gentoo` is `-1000`, so setting the priority for `::haskell` to `-1001` should work. Personally, I have avoided these issues by masking:

`/etc/portage/

[2022-03-11 09:04] paul-jewell commented on #1271
I just ran ``emerge dev-haskell/mtl::gentoo`` after removing the haskell overlay version. After pasting the error message, I then re-emerged the haskell overlay version!

I still have no idea why my gentoo repository had a priority of +1000 - I have no recollection of doing anything with it previously. I have now set it to -1000, and at the moment the overlays from layman are all set at 50.

[2022-03-11 09:23] #1271 closed

[2022-03-11 09:50] hololeap commented on #1271
@paul-jewell Thanks for the issue and the PR. If you wanted to open up another issue for your problem with xmonad and sddm, that would be welcome.

[2022-03-11 10:02] paul-jewell opened #1273 "SDDM Doesn't show xmonad session in session list"
When loading the lastest version of xmonad from the overlay, although the ``/usr/share/xsession/xmonad.desktop`` is created, there is no option to select the session from sddm.

This seems to be intended behaviour when the following line is present in the desktop file:

`NoDisplay=true`

Commenting out this line resolved the problem.

I will have a look to see if I can make a pull request for this

[2022-03-11 10:36] paul-jewell commented on #1271
I have: #1274

;)

On 11/03/2022 09:50, hololeap wrote:

[2022-03-11 18:18] #1273 closed

[2022-03-11 18:35] hololeap commented on #1270
It turns out the fix is much more simple than I thought. This section of `eclass/haskell-cabal.eclass` turns out to be unnecessary and actually causes some GHC panics:

https://github.com/gentoo-haskell/gentoo-haskell/blob/cb73c467eb0e3f8d430163d3e00485ab217e331b/eclass/haskell-cabal.eclass#L236-L237

I am in the process of testing right now, but so far I have successfully rebuilt ~600/2040 packag

[2022-03-11 18:38] hololeap commented on #1270
It may be a good idea to restrict what packages are available in GHC's package DB during build, but this might be these lines in `haskell-cabal.eclass` may be the main culprit in terms of causing linker errors and GHC panics.

[2022-03-16 04:41] hololeap commented on #1231
Related: https://github.com/gentoo-haskell/gentoo-haskell/issues/1270

[2022-03-16 04:42] hololeap commented on #1270
A good solution may be in the works [here](https://wiki.gentoo.org/wiki/Google_Summer_of_Code/2022/Ideas/Portage_constructed_build_environments_and_circular_dependency_solver).

This will provide support for creating a restricted GHC package DB in the default location.

[2022-04-04 09:57] devurandom opened #1279 "app-text/pandoc-2.17.1.1 depends on non-esistent >=dev-haskell/texmath-0.12.4 <dev-haskell/texmath-0.12.5"
`/var/db/repos/haskell/app-text/pandoc/pandoc-2.17.1.1.ebuild` has:
[code]

however no matching version exists:

[code]

this results in a dependency resolution failure:

[code]

[2022-04-04 10:00] solpeth commented on #1279
Good pick up! I'll revert the commits that caused this.

[2022-04-10 14:30] SuperBaguette opened #1280 "dev-haskell/cabal-3.2.1.0-r1 : fails to install : Ebuild author forgot an entry in CABAL_CORE_LIB_GHC_PV"
Hi !

For information, when trying to install dev-haskell/cabal-3.2.1.0-r1, I'm currently getting an error (see below). I did a search for similar closed issues, It looks like only adding PM:8.10.4-r1 to the list in CABAL_CORE_LIB_GHC_PV may fix it, please let me know what you think. Here is the error I'm getting when trying to use the current ebuild :

Messages for package dev-haskell/cabal-3.2.1

[2022-04-11 08:18] #1280 closed

[2022-04-11 21:20] SuperBaguette commented on #1280
Hello !
Thank you for the support, I followed your recommendation and I just wanted to confirm that if fixed the problem.

[2022-04-16 23:14] hololeap commented on #799
I'm getting this now for [`hackport`](https://github.com/gentoo-haskell/hackport) as of [06fc0fbb99dcf29fea7683bb9d792df36fe952cd](https://github.com/gentoo-haskell/hackport/commit/06fc0fbb99dcf29fea7683bb9d792df36fe952cd).

[code]

This seemed to be introduced by using [internal libraries](https://cabal.readthedocs.io/en/3.4/cabal-package.html#sublibs) to help try to better organize the project.

[2022-04-20 10:28] LadyBoonami opened #1281 "dev-haskell/stack-2.7.4_pre20220125: dos2unix: [...]/stack.cabal: No such file or directory"
Greetings,

the build for dev-haskell-stack-2.7.4_pre20220125 fails for me.

emerge.log:
[code]
The path to `dos2unix` is wrong (`work/stack-2.7.4_pre20220125/stack.cabal`), the files are correctly located under `${S}` (`work/stack-9a0683679ad49982fcfb036f87c0f99a78916d2a`). I think this error is triggered by the recent changes to `haskell-cabal.eclass` in ea245047d18f82e05656f1664c12a53eaf9afd57,

[2022-04-21 01:26] #1281 closed

[2022-04-21 01:35] hololeap commented on #1281
@LadyBoonami

The `$CABAL_FILE` variable, which was added in https://github.com/gentoo-haskell/gentoo-haskell/commit/ea245047d18f82e05656f1664c12a53eaf9afd57 like you mentioned, is set in the eclass based on the state of the `$S` variable when the eclass is loaded:

https://github.com/gentoo-haskell/gentoo-haskell/blob/52158ad59ceb77cfaea60314244892bb3f33d726/eclass/haskell-cabal.eclass#L156-L160

[2022-04-21 06:39] LadyBoonami commented on #1281
Perfect, thanks!

[2022-04-21 20:20] l29ah opened #1282 "dev-haskell/onetuple-0.3.1: The source directory '/var/tmp/portage/dev-haskell/onetuple-0.3.1/work/onetuple-0.3.1' doesn't exist"
[code]

[2022-04-21 21:53] l29ah commented on #1282
Reverting a6e266a64669267d2212159a2526ec141f17d0a6 fixed it. @hololeap

[2022-04-21 23:13] #1282 closed

[2022-04-22 01:52] hololeap commented on #1282
Thanks for catching this

[2022-04-22 02:29] hololeap commented on #1281
It looks like the only way to get it to work consistently is to override `$S` _after_ the import, and then override `$CABAL_FILE`. I had to [revert](https://github.com/gentoo-haskell/gentoo-haskell/commit/0df0cadd71894c2ccd984624d07841478316e3f2) https://github.com/gentoo-haskell/gentoo-haskell/commit/21931f370d60a28cd6a43f2ad513ab7110d7ed42 because `$S` is already defined before the eclass is imp

[2022-05-15 13:14] hereGittyGitty opened #1284 "[xmobar] Unable to toggle visibility of xmobar by dbus after xmonad --recompile; xmonad --restart"
Hi,
with `x11-misc/xmobar-0.43`, I am unable to toggle the visibility of `xmobar` after `xmonad --recompile; xmonad --restart` when using
[code]
It works before restarting `xmonad`.

It works fine with `x11-misc/xmobar-0.41` before and after restarting `xmonad`.

Thanks and have a nice day :)

[2022-05-15 18:00] hololeap commented on #1284
This could be an error in the ebuild added in https://github.com/gentoo-haskell/gentoo-haskell/commit/62deda8445323600a5f1a141f5ae478e99ac8056, but it seems more likely to be an upstream bug. There is very little difference between the `0.41` ebuild and the new one.

I wonder if any of this has to do with what you are experiencing?
- https://github.com/jaor/xmobar/releases/tag/0.43
- https://githu

[2022-05-15 20:30] hereGittyGitty commented on #1284
Hey,
thx for looking into this. The upstream changes you suggested look promising. Meanwhile, I tried to install the _live ebuild_ of `xmonad` to check for fixes, but I had no luck in doing so. Let's see if your _links_ in the corresponding upstream issues will shed some light into this. If you need any more information or action on my side, just ask for it.

Have a good one

[2022-05-15 22:43] hololeap commented on #1284
@hereGittyGitty

[I added `xmobar-0.42`](https://github.com/gentoo-haskell/gentoo-haskell/commit/d04129b8e8792934a49a0e69bc307355a5f0ac71), so you can try that version to confirm the issue is specific to version `0.43`.

It says on the `xmobar` project page that it is actually _not_ dependent on `xmonad`, so this shouldn't have any affect. If you mistyped, and actually meant the live ebuild of _`x

[2022-05-16 08:32] hereGittyGitty commented on #1284
@hololeap
Yes, that was a mistyping in my previous message: I meant `xmobar` (fixed that in the previous message). I just tested `xmobar-0.42` and experienced the same problematic behavior as with `xmobar-0.43`.

[2022-05-16 21:21] solpeth commented on #1284
If you haven't already, I'd send this upstream to xmobar. They may be able to determine if some of their code changes (or xmonad's) could be causing this, as I can't see how our ebuild is to blame at this stage.

[2022-05-17 07:30] hereGittyGitty commented on #1284
Yes you may do so. Thank you

[2022-05-19 18:07] hereGittyGitty commented on #1284
Did that:
#https://github.com/jaor/xmobar/issues/632#issue-1242130801

[2022-05-19 22:30] miguelmarco opened #1285 "agda doesn't compile with emacs flag"
If I try to install agda with emacs flag enabled, I get an error

[code]

It can be fixed adding the elisp eclass to the inherit line.

[2022-05-20 02:35] #1285 closed

[2022-05-20 02:36] hololeap commented on #1284
@hereGittyGitty

I'm going to close this. Go ahead and re-open it if you need to.

[2022-05-20 02:36] #1284 closed

[2022-05-27 17:41] Ochoartu opened #1287 "dev-lang/ghc-9.0.2-r1: haddock error: invalid argument (invalid character)"
The command being run in the build is:

[code]

The error message is:

[code]

Full build log can be found [here](https://gist.github.com/hololeap/656743b72fb0f2a378596c7c0eba22c6).

[2022-05-27 18:16] hololeap commented on #1287
@Ochoartu

Thanks for opening this. Could you also please share the output of `emerge --info`?

Have you tried building `ghc-9.0.2-r1` with the `doc` USE flag disabled? This may work as a temporary workaround.

[2022-05-27 18:36] hololeap commented on #1250
This seems to be resolved. Closing.

[2022-05-27 18:41] Ochoartu commented on #1287
i am currently emerging this package as of now without the doc use flag. i even did the 'USE=-doc emerge --ask ghc'

[2022-05-27 19:29] Ochoartu commented on #1287
here is my emerge --info at http://sprunge.us/NpMFcY

[2022-05-27 19:30] Ochoartu commented on #1287
even with the -doc use flag i still get the error

[2022-05-27 20:03] hololeap commented on #1287
@Ochoartu

Could you please post the contents of these two files:

1. `/etc/locale.conf`
2. `/etc/locale.gen`

[2022-05-27 20:42] Ochoartu commented on #1287
here is my locale.gen https://dpaste.com/BXEALSFSN

[2022-05-27 21:23] hololeap commented on #1287
Thanks. In the future, please post files like this on a service that does not expire, such as https://gist.github.com, so that we can reference it months later, if needed.

It looks like your default `LANG` (as seen in [your `emerge --info`](https://gist.github.com/hololeap/e385fc68749621e8a5ca87698242ea8c#file-emerge-info)) is set to an alias for `en_US.ISO-8859-1`, which is _not_ a `UTF-8` local

[2022-05-27 21:33] hololeap commented on #1287
If this works for you, you can set your locale to a `UTF-8` variant as your default, as described [here](https://wiki.gentoo.org/wiki/Localization/Guide#Setting_a_locale). I am also working on a patch for the `ghc` ebuild that will do this automatically for the build.

[2022-05-28 01:56] hololeap commented on #1287
Error confirmed by using:

[code]

[2022-05-28 02:48] Ochoartu commented on #1287
okay. I managed with your instruction, to get ghc installed from the haskell repository. i gotta thank you so much!

[2022-05-28 02:49] Ochoartu commented on #1287
any other things you need that i could help with?

[2022-05-28 02:50] Ochoartu commented on #1287
i like to thank you with your patience to this git noob. hahahahaha! i set up the gists on my wgetpaste as instructed as well

[2022-05-28 15:38] #1287 closed

[2022-05-28 15:40] hololeap commented on #1287
@Ochoartu

Thanks for pointing out this bug. The [new patch](https://github.com/gentoo-haskell/gentoo-haskell/commit/3fa95839c6df6c7880baf4c00aecccaf98ed5c05) should hopefully keep this from happening in the future, even on systems that aren't using `UTF-8` locales.

[2022-06-25 17:24] dm9pZCAq opened #1289 "no locales on musl libc"
on musl libc there is no locales so this function won't work

https://github.com/gentoo-haskell/gentoo-haskell/blob/76637d4cbe2e16a6893cf69466004ebdaa0c8906/dev-lang/ghc/ghc-9.0.2-r1.ebuild#L369-L426

---
my error:
[code]

[2022-06-25 20:38] #1168 closed

[2022-07-06 09:17] ragreener1 commented on #1264
dev-haskell/cborg-json can be marked as done also

[2022-07-08 04:32] ignamartinoli opened #1292 "adding ghcup"
Could it be possible to have the `ghcup` added to this overlay?

It's the way `nvim-lsp-installer` installs `hls`

[2022-07-09 13:22] hasufell commented on #1292
Distros already packaging ghcup:

* Archlinux (binary): https://aur.archlinux.org/packages/ghcup-hs-bin
* brew: https://github.com/Homebrew/homebrew-core/blob/master/Formula/ghcup.rb

Gentoo packages rustup btw: https://packages.gentoo.org/packages/dev-util/rustup

So yes, this makes sense.

GHCup source repo: https://gitlab.haskell.org/haskell/ghcup-hs

Hackage: https://hackage.haskell.org/packag

[2022-07-09 14:25] hololeap commented on #1292
It may take a bit of work to get this packaged, since it seems to depend on `>=Cabal-3.6`, which is not yet in the tree. In the meantime, a workaround would be to download the `ghcup` binary and adjust your `$PATH` to find it. I could also add a `ghcup-bin` package which would just install the binary to `/usr/bin`, but I'm not sure it's worth the effort.

[2022-07-09 16:03] hasufell commented on #1292
@hololeap it works fine with older Cabal. Use this patch:

[code]

[2022-07-09 19:47] ignamartinoli commented on #1292
I opened [this](https://bugs.gentoo.org/856961) bug on **Bugzilla** just in case

[2022-07-12 15:20] ragreener1 commented on #1264
Both done:
- dev-haskell/chronos
- dev-haskell/stylish

[2022-07-20 21:14] #1264 closed

[2022-07-22 23:47] solpeth commented on #1212
I masked this the other day as part of aeson bumping, and now matoro's PR is merged this should be good to close.

[2022-07-22 23:47] #1212 closed

[2022-07-23 01:37] l29ah opened #1300 "dev-haskell/hpack-0.34.4: plenty of Aeson type errors"
[code]
dev-haskell/aeson-2.0.3.0 here

[2022-07-23 01:39] l29ah commented on #1300
Fixed in https://github.com/gentoo-haskell/gentoo-haskell/pull/1299.

[2022-07-23 01:39] #1300 closed

[2022-07-25 05:06] solpeth commented on #1132
`pandoc-citeproc` has been last-rited in `::gentoo` with `rstudio` also last-rited as a reverse dependency. Having said that @markwright may be able to get `rstudio` working in the future. Closing this for now as getting `rstudio` working in the future doesn't seem to depend on `pandoc-citeproc` either way.

[2022-07-25 05:06] #1132 closed

[2022-07-25 05:08] solpeth commented on #1225
Closing as assumed to be fixed by upstream ghc patch landed in `dev-lang/ghc-9.0.2-r1`.

[2022-07-25 12:05] #1289 closed

[2022-07-25 14:07] Ultimator14 opened #1305 "dev-haskell/stack-2.7.6_pre20220421 fails to build"
### General
GHC: 9.0.2-r1
Upstream Bug: [commercialhaskell/stack #5753](https://github.com/commercialhaskell/stack/issues/5753)
Other issue: [freebsd/freebsd-ports-haskell #62](https://github.com/freebsd/freebsd-ports-haskell/issues/62)

### Error message
[code]

### List of installed haskell packages
[code]

[2022-07-26 00:43] hololeap commented on #1225
This bug is actually separate. I'm not 100% sure of the cause, but it happened even with that patch in `dev-lang/ghc-9.0.2-r1`. It seems to have something to do with the packages being already installed on the system, but in a broken state due to a bumped/changed dependency (pending a `haskell-updater` run). This is likely something we will have to fix on our end, as this is essentially an undefin

[2022-07-26 00:47] hololeap commented on #1225
I'm working on a more manageable solution for several issues, such as this one, which would benefit from having a more slimmed-down/isolated ghc package index during build. Creating a temporary package index which only includes the packages needed for the build, but not the package being built, should allow us to sidestep this issue.

[2022-07-30 03:42] thunderrd opened #1307 "x11-misc/xmobar-9999 failing to build from haskell-overlay"
This package fails to build manually or using haskell-updater after recent dev-haskell updates.  Build log here:

` [32m * [39;49;00mPackage:    x11-misc/xmobar-9999
[32m * [39;49;00mRepository: haskell
[32m * [39;49;00mMaintainer: haskell@gentoo.org
[32m * [39;49;00mUSE:        abi_x86_64 alsa amd64 dbus elibc_glibc kernel_linux rtsopts userland_GNU weather xft
[32m * [39;49;00mFEATURES

[2022-07-30 03:48] #1307 closed

[2022-08-06 00:00] g-regex commented on #1305
I'm having exactly the same issue. None of my installed packages depends on stack so I removed stack and all of its dependencies to rebuild everything, but the problem persists. Trying to emerge stack-2.7.4_pre20220125 results in the same problem. Maybe it's related to `persistent` - I believe its version has to be lower than 2.14 (see [](https://hackage.haskell.org/package/stack-2.7.1/revisions/)

[2022-08-06 06:44] solpeth commented on #1305
@g-regex you may be right. Unfortunately stack upstream don't seem to include upper bounds on dependencies, so we assume it is safe to upgrade them as we see fit. I'll monitor the situation and see if there are any upstream patches we can apply to resolve the issue.

[2022-08-06 16:16] buzden commented on #1305
According to commercialhaskell/stack#5753 they have added upper bounds. Also, they depend on the later `persistent` package in their main branch (i.e. changes after the latest release 2.7.5).

[2022-08-06 16:29] TheMBL09898 commented on #1305
I have the same problem

[2022-08-06 16:58] TheMBL09898 opened #1309 "dev-haskell/gi-harfbuzz fails to build"
**GHC version** = 9.0.2-r1

**build.log**

[code]

**List of installed Haskell packages (eix '-I*' --format '<installedversions:NAMEVERSION>' | grep dev-haskell)**
[code]

[2022-08-07 00:20] TheMBL09898 commented on #1309
Found this on the haskell-gi repository: https://github.com/haskell-gi/haskell-gi/issues/387
It seems it gets fixed with gi-harfbuzz 0.0.6.

Can't build terminated or taffy bar without this so I should try to fix the ebuild and submit a PR

[2022-08-07 00:22] solpeth commented on #1309
I'll have a fix pushed shortly - just finishing build testing to ensure it works. Thanks for the offer, though! Ebuilds and PRs are always welcome.

[2022-08-07 00:23] #1309 closed

[2022-08-07 01:26] TheMBL09898 opened #1310 "dev-haskell/gi-pango build fails"
**build.log**

[code]

[2022-08-07 01:46] #1310 closed

[2022-08-12 08:05] #1305 closed

[2022-09-10 04:04] hololeap opened #1327 "Packages needing `GHC_BOOSTRAP_PACKAGES`"
A change to `haskell-cabal.eclass` is being added, where extra dependencies to build `Setup.hs` must now be listed in the ebuild using the new `GHC_BOOTSTRAP_PACKAGES` variable. Without this new feature, it is possible to get namespace collisions such as:

[code]

Most common packages bundled with GHC are exposed by default, which is all that is needed for most custom `Setup.hs` setups. However, i

[2022-09-13 15:59] dequbed commented on #1327
It appears as if `dev-haskell/xml-conduit` also has this problem as it requires `cabal-doctest` to be visible.

Adding `GHC_BOOTSTRAP_PACKAGES="cabal-doctest"` fixed this build issues I was having:
[code]

[2022-09-14 05:45] hereGittyGitty commented on #1327
Same for:

- `dev-haskell/co-log-core`

thx :)

[2022-09-16 01:20] hololeap commented on #1327
Thanks for reporting @dequbed, @hereGittyGitty.

[2022-09-16 05:01] Thymelizabeth commented on #1327
dev-haskell/haskell-gi is also affected (requires cabal-doctest)

[2022-09-16 15:57] hololeap opened #1329 "Appropriately handle `dev-haskell/hsc2hs`"
[Some `.cabal` files](https://github.com/haskell-gi/haskell-gi/blob/3e564006eca777e58bb5ef889f4d40ae731ed224/haskell-gi.cabal#L56) reference a `hsc2hs` package, which actually comes bundled with GHC. (See: `qfile /usr/bin/hsc2hs`). `hackport` currently adds this dependency as `dev-haskell/hsc2hs` under `RDEPEND`.

This package is not currently in the tree, and it could be added as a ["dummy lib"](

[2022-09-16 15:59] hololeap commented on #1329
[`hsc2hs` on Hackage](https://hackage.haskell.org/package/hsc2hs)

[2022-09-16 20:17] lotgyero commented on #1327
[code]
also affected

requires:

[code]

[2022-09-20 02:04] hololeap commented on #1327
Thanks for reporting @Thymelizabeth @lotgyero

[2022-09-20 13:43] xfim opened #1331 "ghc-9-2.4, binary version is mismatched in amd64"
When trying to install ghc-9.2.4 (+binary) in amd64
[code]

the file size does not match with the binary in the server:

[code]

Thank you.
I've checked manually and it also happens.

[2022-09-24 22:49] #1331 closed

[2022-09-25 04:10] xfim commented on #1331
Excellent, thank you.

[2022-09-26 20:37] l29ah opened #1333 "ghc-9.2.4 can't compile (itself)"
[code]

Full build log:
https://gist.github.com/7ec57618a984aefce94ac4155dedf99a

[2022-09-27 03:14] hololeap commented on #1333
I'm going to dump some relevant URLs here for future referecnce:

- https://gitlab.haskell.org/ghc/ghc/-/issues/21484
- https://gitlab.haskell.org/ghc/ghc/-/issues/21188
- https://gitlab.haskell.org/ghc/ghc/-/issues/21914
- https://www.haskell.org/ghc/blog/20220805-make-to-hadrian.html
- https://gitlab.haskell.org/ghc/ghc/blob/master/hadrian/README.md

[2022-09-29 22:19] l29ah commented on #1225
I get this when i hit `tab` in ghci after `import `:
[code]
No lsp or optics here.

[2022-09-30 03:35] hololeap commented on #1225
@l29ah have you run `haskell-updater` and/or `emerge @preserved-rebuild`?

[2022-09-30 13:39] l29ah commented on #1225
Sure i did, i can't recompile a bunch of stuff, for instance `skylighting-core`:
[code]

[2022-09-30 13:58] l29ah commented on #1225
Manually removing `skylighting-core` and reinstalling fixed all the problems.

[2022-09-30 23:21] hololeap commented on #1250
Reopening due to bugs filed in `::gentoo` and for `ghc-9.2.4`

From @solpeth:

[Source](https://bugs.gentoo.org/843968#c14)

---

From @l29ah:

[Source](https://github.com/gentoo-haskell/gentoo-haskell/issues/1225#issuecomment-1262874832)

[2022-09-30 23:22] hololeap commented on #1225
This probably is just a dupe of #1250 at this point. I thought it was separate since we applied the patch.

[2022-10-01 18:28] hololeap opened #1335 "llvm support"
Could we have `llvm` as a backend option for all our supported architectures?

Reference:
- [Andreas Schwab's patch for RISC](https://gitlab.haskell.org/ghc/ghc/-/merge_requests/4327)
- [matoro's PR adding LLVM support in RISC](https://github.com/gentoo/gentoo/pull/27397)

[2022-10-09 14:47] open-antux commented on #1327
Also affected:
- `dev-haskell/haskell-gi`   (require `cabal-doctest`)
- `dev-haskell/gi-gmodule`   (require `haskell-gi`)
- `dev-haskell/gi-gio`       (require `haskell-gi`)
- `dev-haskell/gi-cairo`     (require `haskell-gi`)
- `dev-haskell/gi-freetype2` (require `haskell-gi`)
- `dev-haskell/gi-glib`      (require `haskell-gi`)
- `dev-haskell/gi-gobject`   (require `haskell-gi`)

[2022-10-09 18:56] hololeap commented on #1327
@open-antux, this was fixed in 06efc7221bafc36ab039f595c4f851f621cce538. Are you sure you're synced up with the latest `master`?

https://github.com/gentoo-haskell/gentoo-haskell/blob/06efc7221bafc36ab039f595c4f851f621cce538/dev-haskell/haskell-gi/haskell-gi-0.26.1.ebuild#L18-L21

[2022-10-09 19:06] open-antux commented on #1327
Since yesterday I've encountered this issue also if I synced the repos.

Now I temporary resolved this issue by setting the `GHC_BOOTSTRAP_PACKAGES` with the missing packages.

Tomorrow I'll try to sync the overlays and recompile these packages without the `GHC_BOOTSTRAP_PACKAGES` setted.

[2022-10-10 21:37] hololeap commented on #1327
@open-antux You're correct about the other packages needing to be fixed. I'll push my commits in a bit.

[2022-10-11 05:32] hololeap commented on #1327
@open-antux, fixed. Thanks for reporting!

[2022-10-13 20:03] faithanalog opened #1339 "dev-haskell/validation-selective-0.1.0.1 build failure"
Build fails in `Setup.hs` trying to import `Distribution.Extra.Doctest` from `cabal-doctest`.

`test` affects the dependencies so I tried building with both `USE="-test"` and `USE="test"`. Both fail.

[code]

[code]

Setup.hs is not from upstream, but is from a patch at https://github.com/gentoo-haskell/gentoo-haskell/blob/master/dev-haskell/validation-selective/files/validation-selective-0.1.0.1-

[2022-10-13 20:43] matoro commented on #1339
This just needs to be included in https://github.com/gentoo-haskell/gentoo-haskell/issues/1327

[2022-10-14 04:46] #1339 closed

[2022-10-14 04:47] hololeap commented on #1339
Thanks for reporting.

[2022-10-21 14:17] formula-spectre opened #1342 "`CABAL_CORE_LIB_GHC_PV` not matching"
[code]

in the ebuild there is no dependency on dev-haskell/template, and also, the latest version in repo is 0.2.0.10-r1
I think there is a missing dep here. Or maybe not and I'm missing a step.
at any case, I'm on musl-clang, trying to install termonad. Hope this is helpful!

[2022-10-21 14:53] hololeap commented on #1342
Both `template-haskell` and `exceptions` come [bundled with GHC](https://gitlab.haskell.org/ghc/ghc/-/wikis/commentary/libraries/version-history) and we handle those packages a little differently.

Some of them, like `exceptions`, we expose as an ebuild but there is a check to see if it already comes bundled with your GHC version:

[code]

Others, like `template-haskell`, we do not have an ebuild

[2022-10-21 17:19] hololeap commented on #1133
With the new tooling, my workflow usually consists of:

* ```bash
  pkgdev manifest
[code]
* ```bash
  git add .
[code]

Contributors will have CI checks run in any PRs they open, and devs should try to push to their own forks before pushing directly to `master` to make sure all checks pass.

I don't see any problem with this workflow, so I will close this. Feel free to reopen if you see any curre

[2022-10-21 17:19] #1133 closed

[2022-10-21 17:31] hololeap commented on #1074
My guess is that there is some limitation with `cabal-v1` installations where they do not register executables, thus you get

[code]

because it doesn't know that the `hspec-discover` _package_ that is installed provides the `hspec-discover` _executable_.

[2022-10-21 17:56] hololeap commented on #1074
Some relevant issues:

* https://github.com/NixOS/nixpkgs/issues/130556
* https://github.com/input-output-hk/haskell.nix/issues/839
* https://github.com/haskell/cabal/issues/8434

(Thanks to `sterni` from `irc://irc.libera.chat/#ghc`)

[2022-10-22 06:10] formula-spectre commented on #1342
I am using https://github.com/clang-musl-overlay/clang-musl-overlay/blob/master/dev-lang/ghc/ghc-9.0.2.ebuild this version of ghc

[2022-10-22 13:53] hololeap commented on #1342
It seems to me that `CABAL_CORE_LIB_GHC_PV` should ignore revision numbers, as it is extremely unlikely that the set of bundled libraries will change with a revision bump. That would solve this and other related headaches.

[2022-10-22 13:57] hololeap commented on #1342
I would also be willing to see if we could merge the `clang-musl-overlay` version of ghc into our version so that you can just use `dev-lang/ghc::haskell`, but that is a separate issue.

[2022-10-27 15:33] thunderrd commented on #1327
I'm trying to emerge xmobar-9999, which now appears to need dev-haskell/pango, which pulls in dev-haskell/cairo.

dev-haskell/cairo shows a similar issue with 'hidden package gtk2hs-buildtools' which is installed already.

However, cairo fails to emerge:

`root@Q6600: ~# emerge -av dev-haskell/cairo
​
These are the packages that would be merged, in order:
​
Calculating dependencies... done!
[ebuil

[2022-10-28 09:06] solpeth commented on #1342
@hololeap: we currently write `CABAL_CORE_LIB_GHC_PV` with full ebuild versions, but I believe we can just rely on ghc upstream version numbers if we drop the `PM:` part of the version.

[2022-10-28 15:34] hololeap commented on #1342
@formula-spectre 8abcb9249c949b15637b44e3097f6973cedb9af3 should take care of the build issue. I'll investigate to see if what @solpeth says is true and then update all the `CABAL_CORE_LIB_GHC_PV`s.

[2022-10-28 16:27] hololeap commented on #1327
Thanks for reporting @thunderrd

[2022-10-29 15:18] formula-spectre commented on #1342
all right.. so in the meantime what can I do to help?

[2022-10-29 23:18] l29ah opened #1348 "agda pulls emacs even with USE=-emacs"
Due to `inherit elisp`.

[2022-10-30 02:38] l29ah commented on #1348
Seems like other ebuilds that are conditional on `emacs` utilize `elisp-common`.

[2022-10-30 07:41] solpeth commented on #1348
Possibly related to this? https://bugs.gentoo.org/735148

[2022-10-30 07:42] solpeth commented on #1348
Oh sorry, completely unrelated. Thanks for your diagnostics. Are you able to fix this and open a PR?

[2022-10-30 11:50] l29ah commented on #1348
Probably not this year.

[2022-10-30 18:35] hololeap commented on #1348
It looks like this will be as simple as switching to `elisp-common.eclass`. I'll test.

[2022-10-30 19:07] #1348 closed

[2022-10-30 20:03] hololeap commented on #1342
@formula-spectre you could test with [my `cabal-core-lib` branch](https://github.com/hololeap/gentoo-haskell/tree/cabal-core-lib).

[2022-10-31 05:48] formula-spectre commented on #1342
@hololeap will do! I install ghc from your branch and then test if every goes smooth when installing packages from your overlay right?

[2022-10-31 08:29] apraga opened #1353 "Stack is no longer supported ?"
Hi,

I cannot find dev-haskell/stack in packages.gentoo.org and it looks like it was removed last month by this commit : https://gitweb.gentoo.org/repo/gentoo.git/commit/?id=f81369cb21bc6792878ffae32a245fcb42b988b7 .

Is there a reason why it was removed ? If that's so, would it be possible to add it back to the GURU overlay ?

Thanks,

[2022-10-31 09:39] solpeth commented on #1353
Hey @apraga , stack was removed as part of pruning many haskell packages from the ::gentoo repo. This was done to minimise duplication between the ::haskell repo and ::gentoo repo, and helps us to keep the two repos more in sync and less broken and outdated.

`dev-haskell/stack` is still available in the ::haskell repo. Add the haskell repo to your system (e.g. eselect repository enable haskell) a

[2022-10-31 09:39] #1353 closed

[2022-10-31 13:56] #1342 closed

[2022-11-13 16:36] hololeap opened #1359 "`haskell-language-server` failing tests"
Originally part of https://github.com/gentoo-haskell/gentoo-haskell/pull/1332, but I decided to pull that PR and open it as a separate issue.

---

Currently the following HLS packages have `RESTRICT="test"` due to failing tests:

- [ ] [`dev-haskell/ghcide-1.8.0.0`](https://github.com/gentoo-haskell/gentoo-haskell/pull/1332/files#diff-b65b78dc7a73a61cd88598e9369fe880da59079a1265faa1eda31f3c6e7b35

[2022-11-14 17:24] Hypoon opened #1360 "dbus depends on nonexistent version of lens"
From [dev-haskell/dbus/dbus-1.2.22.ebuild](https://github.com/gentoo-haskell/gentoo-haskell/blob/97b0300e3a4753eefe75ef19ceabcfdf9eab9b87/dev-haskell/dbus/dbus-1.2.22.ebuild#L25): `RDEPEND="<dev-haskell/lens-5.2:=[profile?]"`

Which is incompatible with commit e2b27da1f4ded0f66c31bf6e8f5d4ce65d0f890f, which dropped `=dev-haskell/lens-5.1.1` in favor of `=dev-haskell/lens-5.2`. There are no other v

[2022-11-15 15:07] FurudeRikaLiveOnHinami opened #1361 "dev-haskell/direct-sqlite: Failed to configure with unrecognized 'configure' options `-systemlib'"
Delete line 35 from commit [f1e40b198781bc025e0742982fcf7011914a4cba](https://github.com/gentoo-haskell/gentoo-haskell/commit/f1e40b198781bc025e0742982fcf7011914a4cba)  may  fix the issue.

[2022-11-15 15:09] FurudeRikaLiveOnHinami commented on #1361
build.log:
[code]

[2022-11-15 15:10] FurudeRikaLiveOnHinami commented on #1361
emerge --info:
[code]

[2022-11-15 18:06] #1360 closed

[2022-11-16 04:25] #1361 closed

[2022-11-26 11:58] open-antux opened #1363 "`cabal_chdeps()` should support `patsub_replacement`"
Hi everyone,

during the upgrade, I had the following error while compiling `dev-haskell/ghc-paths-0.1.0.12-r3`:
[code]
I've find the cause of the problem, in the `ghc-paths.cabal` there's a syntax error:
[code]
I think that should be
[code]

[2022-11-26 16:15] hololeap commented on #1363
I am not able to reproduce this. The original `.cabal` file has the block:

* [`ghc-paths.cabal`](https://hackage.haskell.org/package/ghc-paths-0.1.0.12/revision/0.cabal)
[code]

However, this is changed with [`cabal_chdeps()`](https://github.com/gentoo-haskell/gentoo-haskell/blob/9717dc2f5e05ce445237165ed4cb076d451f00ad/eclass/haskell-cabal.eclass#L865-L911), which is supposed to change it to:

[

[2022-11-26 16:33] hololeap commented on #1363
It looks like it's doing some [bash parameter substitution](https://www.gnu.org/software/bash/manual/html_node/Shell-Parameter-Expansion.html) in `cabal_chdeps()`:

https://github.com/gentoo-haskell/gentoo-haskell/blob/9717dc2f5e05ce445237165ed4cb076d451f00ad/eclass/haskell-cabal.eclass#L891-L895

Try running this to see if it will reproduce the bug in your shell:

[code]

In my shell, this output

[2022-11-27 10:15] open-antux commented on #1363
Hi,

thanks for the response. This is the output of the commands:
[code]
After some testing, I noticed that the issue comes when bash tries to substitute the `&&`, in fact, if I try to use them as character `\&` the problem is solved:
[code]
I think that bash use `&` as a placeholder for in the pattern to substitude
[code]
Maybe a better solution could be `to_str=$(sed -E 's/(\&|\|)/\\\1/g' <<< 'C

[2022-11-27 18:25] hololeap commented on #1363
From [the bash reference manual](https://www.gnu.org/software/bash/manual/html_node/Shell-Parameter-Expansion.html):

So this should explain the discrepancy on your system.

[2022-11-27 19:12] hololeap commented on #1363
See if it works for you now that I pushed https://github.com/gentoo-haskell/gentoo-haskell/commit/89949486a9c3619bfc85d1ef9f8319843ca501b6.

[2022-11-27 19:14] hololeap commented on #1363
Oh, I also pushed an update to `dev-haskell/ghc-paths` (https://github.com/gentoo-haskell/gentoo-haskell/commit/cf1bef9e004e24f23ac954ef3aeb920a10a71295) which removed `cabal_chdeps` (it was unneeded thanks to the upstream Hackage revision), so you won't be able to test using that.

[2022-11-27 19:18] hololeap commented on #1363
You could test with `dev-haskell/rest-rewrite`:

https://github.com/gentoo-haskell/gentoo-haskell/blob/cf1bef9e004e24f23ac954ef3aeb920a10a71295/dev-haskell/rest-rewrite/rest-rewrite-0.4.0.ebuild#L18-L20

[2022-11-28 16:53] hololeap commented on #1363
Good. Closing, but feel free to reopen if you need to.

[2022-11-28 16:53] #1363 closed

[2022-11-30 01:33] hololeap commented on #1363
https://github.com/gentoo/portage/pull/944